<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="estrutura/dashboard">

<head>

<title>Sinutri | Visualizar Plano Alimentar</title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/material-date-picker.css}" />

</head>

<body>
	<section layout:fragment="title">
		<label class="mdl-layout-title">Visualizar Plano Alimentar</label>
	</section>
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
			<div
				class="sn-breadcrumbs__position mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid sn-main-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<a th:href="@{/Nutricao/Buscar}"
						class="sn-breadcrumbs sn-attribute__title">Início</a> <a
						th:href="@{/Paciente/__${planoAlimentar.paciente.id}__}"
						class="sn-breadcrumbs sn-attribute__title">Paciente</a> <a
						class="sn-attribute__title sn-breadcrumbs">Cadastrar Plano
						Alimentar</a>
				</div>
				<div class="mdl-cell mdl-cell--12-col sn-card">
					<div
						class="mdl-layout-title mdl-color-text--brown-600 sn-padding--48">
						Plano Alimentar
						<div id="div_arrow" class="sn-colapse-div sn-attribute__title">
							<span
								th:text="${planoAlimentar.paciente.pessoa.nome+', '+planoAlimentar.paciente.pessoa.getIdade()+' anos'}"></span>
							<i
								class="sn-breadcrumbs__icon material-icons arrow_icon_position">keyboard_arrow_down</i>
						</div>
					</div>
					<div class="sn-form__hdivider sn-margin--none"></div>
					<fabgroup class="sn-fab--bottom-right"> <a id="excluir"
						th:href="@{/Paciente/__${planoAlimentar.paciente.id}__/PlanoAlimentar/__${planoAlimentar.id}__/Excluir}"
						class="sn-fab sn-fab--hide mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--red-700 bt-excluir-plano-alimentar">
						<i class="material-icons mdl-color-text--white">delete</i>
					</a> <a
						th:href="@{/Paciente/__${paciente.id}__/PlanoAlimentar/__${planoAlimentar.id}__/Editar}"
						class="sn-fab sn-fab--hide mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--purple">
						<i class="material-icons mdl-color-text--white">edit</i>
					</a>

					<button
						class="sn-float--launcher mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
						<i class="material-icons mdl-color-text--white">more_horiz</i>
					</button>
					</fabgroup>
					<div class="sn-colapsable-div sn-padding--48 mdl-color--white">

						<div class="mdl-grid mdl-grid--no-spacing">
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Nome</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.nome+', '+planoAlimentar.paciente.pessoa.getIdade()+' anos'}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Sexo</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.sexo}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Telefone</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.telefone}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Email</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.email}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">CPF</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.cpf}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Cargo/Ocupação</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.ocupacaoOuCargo}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
								<div class="sn-attribute__title">Vínculo</div>
								<div class="sn-attribute__value"
									th:text="${planoAlimentar.paciente.pessoa.vinculo}"></div>
							</div>
						</div>
					</div>

				</div>
				<div
					class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid mdl-grid--no-spacing sn-main-card">
					<div
						class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
						<!-- Text atribute -->
						<div class="sn-attribute mdl-cell mdl-cell--6-col">
							<div class="sn-attribute__title">Criado em</div>
							<div class="sn-attribute__value"
								th:text="${#dates.format(planoAlimentar.criadoEm, 'dd/MM/yyyy')}"></div>
						</div>
						<!-- Text atribute -->
						<div class="sn-attribute mdl-cell mdl-cell--6-col">
							<div class="sn-attribute__title">Atualizado em</div>
							<div class="sn-attribute__value"
								th:text="${#dates.format(planoAlimentar.atualizadoEm, 'dd/MM/yyyy')}"></div>
						</div>
					</div>
					<div
						class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
						<!-- Text atribute -->
						<div class="mdl-grid--no-spacing mdl-cell mdl-cell--12-col">
							<h5>Refeições</h5>
						</div>
						<div class="mdl-cell mdl-cell--12-col"
							th:each="refeicao : ${planoAlimentar.refeicoes}">
							<div class="sn-form__hdivider-5"></div>
							<div class="sn-attribute__title"
								th:text="${#dates.format(refeicao.hora, 'HH:mm')}+' | '+ ${refeicao.descricao.nome}"></div>
							<table
								class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
								<thead>
									<tr>
										<th
											class="sn-attribute__title mdl-data-table__cell--non-numeric">Alimentos</th>
										<th
											class="sn-attribute__title mdl-data-table__cell--non-numeric">Quantidade</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="porcao : ${refeicao.porcoesAlimentos}">
										<td style="width: 20%"
											class="mdl-data-table__cell--non-numeric"
											th:text="${porcao.alimento.nome}"></td>
										<td style="width: 20%"
											class="mdl-data-table__cell--non-numeric"
											th:text="${porcao.quantidade}"></td>
									</tr>

								</tbody>
								<thead>
									<tr>
										<th colspan="2"
											class="sn-attribute__title mdl-data-table__cell--non-numeric">Observações</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2" style="width: 20%"
											class="mdl-data-table__cell--non-numeric"
											th:text="${refeicao.observacao}"></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="modal-exclusao-plano-alimentar">Você realmente deseja
			excluir este Plano Alimentar?</div>

	</section>

	<section layout:fragment="js">

		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/plano-alimentar/visualizar.js}"></script>

	</section>

</body>
</html>
