<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>

	<title>Sinutri | Adicionar Recordatório</title>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/material-date-picker.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/recordatorio/cadastrar.css}"/>
	
</head>

<body>
	<section layout:fragment="title">
		<label class="mdl-layout-title">Cadastrar Recordatório</label>
	</section>
	<section layout:fragment="conteudo">
	
		<div class="mdl-grid">
			<div class="mdl-cell--1-offset-desktop">
				<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs sn-attribute__title">SiNutri</a>
				<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs sn-attribute__title">Buscar</a>
				<a th:href="@{${'/Paciente/'+paciente.id}}" class="sn-breadcrumbs sn-attribute__title">Paciente</a>
				<a class="sn-attribute__title sn-breadcrumbs">Cadastrar Recordatório</a>
			</div>
		
			
			<form action="#" 
		    id="formAdicionarRecordatorio"
		    method="post" 
		    class="sn-form 
			    mdl-cell 
			    mdl-cell--7-col-desktop 
			    mdl-cell--1-offset-desktop 
			    mdl-cell--8-col-tablet 
			    mdl-cell--4-col-phone 
			    mdl-grid 
			    mdl-grid--no-spacing 
			    sn-main-card" 
		    th:action="@{/Paciente/__${idPaciente}__/Recordatorio}"
		    th:object="${recordatorio}"
		    accept-charset="utf-8">

				<div id="titulo" class="mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white">
				
					<div class="mdl-layout-title mdl-color-text--indigo-600">
						Cadastrar Recordatório
					</div>				
				</div>
				
				
				<div class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
				
					<div class="sn-textfield mdl-cell mdl-cell--6-col">
						<label class="sn-textfield__label" 
						for="criadoEm">Data de criação</label> 
						
						<input class="sn-textfield__input sn-date-picker" 
						type="text" 
						id="criadoEm" 
						th:field="*{criadoEm}"/>
						
					</div>
					
					<div class="sn-form__hdivider mdl-cell mdl-cell--6-col"></div>
					
					<label class="sn-textfield__label mdl-cell mdl-cell--6-col" 
					for="refeicoes">Refeições</label>

					<div class="mdl-cell mdl-offset--6-col mdl-cell--12-col demo-list-three mdl-list mdl-color--grey-200">
					
					<ul id="refeicoes" class="sn-list-refeicoes">
					
						<li class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp sn-card sn-cloneable">
						  	
						  	<input type="hidden" th:field="*{refeicoes[0].hora}" class="sn-refeicao-input-hora" value="00:00"/>
			    			<input type="hidden" th:field="*{refeicoes[0].descricao}" class="sn-refeicao-input-descricao" value="CAFEMANHA"/>
			    			<input type="hidden" th:field="*{refeicoes[0].itens}" class="sn-refeicao-input-itens" value="das"/>
			    			<input type="hidden" th:field="*{refeicoes[0].observacao}" class="sn-refeicao-input-observacao" value="akhggf"/>
						  	
						  	<span class="mdl-list__item-primary-content">
						  	
						  		<div class="mdl-grid mdl-grid--no-spacing">
							  		<div class="mdl-cell mdl-cell--6-col">
							  		
								    	<span>Hora</span>
								    	
								    	<span class="mdl-list__item-text-body sn-refeicao-hora">
								      		Bryan Cranston played the role of Walter in Breaking Bad. He is also known
								      		for playing Hal in Malcom in the Middle.
							    		</span>
							    		
						    		</div>
						    		
						    		<div class="mdl-cell mdl-cell--6-col">
							  		
								    	<span>Itens</span>
								    	
								    	<span class="mdl-list__item-text-body sn-refeicao-itens">
								      		Bryan Cranston played the role of Walter in Breaking Bad. He is also known
								      		for playing Hal in Malcom in the Middle.
							    		</span>
							    		
						    		</div>
						    		
						    		<div class="mdl-cell mdl-cell--6-col">
						    		
							    		<span>Descrição</span>
							    		
								    	<span class="mdl-list__item-text-body sn-refeicao-descricao">
								      		Bryan Cranston played the role of Walter in Breaking Bad. He is also known
								      		for playing Hal in Malcom in the Middle.
							    		</span>
							    		
						    		</div>
						    		
						    		<div class="mdl-cell mdl-cell--6-col">
						    		
							    		<span>Observação</span>
							    		
								    	<span class="mdl-list__item-text-body sn-refeicao-observacao">
								      		Bryan Cranston played the role of Walter in Breaking Bad. He is also known
								      		for playing Hal in Malcom in the Middle.
							    		</span>
							    		
						    		</div>
						    	</div>
					    		
					  		</span>
					  		
						  	<span class="mdl-list__item-secondary-content">
						  	
						   		<button type="button" class="mdl-button mdl-js-button mdl-button--icon sn-refeicao-editar">
			    					
			    					<i class="material-icons mdl-color-text--grey-700">mode_edit</i>
			    					
			    				</button>
			    				
			    			</span>
			    			
			    			<span class="mdl-list__item-secondary-content">
			    				
			    				<button type="button" class="mdl-button mdl-js-button mdl-button--icon sn-refeicao-duplicar">
			    					
			    					<i class="material-icons mdl-color-text--grey-700">content_copy</i>
			    					
			    				</button>
			    				
			    			</span>
			    			
			    			<span class="mdl-list__item-secondary-content">	
			    			
			    				<button type="button" class="mdl-button mdl-js-button mdl-button--icon sn-refeicao-remover">
			    					
			    					<i class="material-icons mdl-color-text--grey-700">close</i>
			    					
			    				</button>
			    				
						  	</span>
						  	
						</li>
						
					</ul>
					<div class="sn-list-refeicao__actions">
						<button id="sn-add-refeicao-button" type="button" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">Adicionar Refeição</button>
					</div>
					
					</div>
					
				    
	   				
	   				<div class="sn-form-actions">
	   				
		   				<input type="submit" 
		   				id="btnAdicionarRecordatorio"
					    class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect" 
					    value="Cadastrar" /> 
					    
					    <button type="button" 
					    id="btnCancelar"
					    class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" 
					    th:attr="link=@{/Paciente/__${idPaciente}__}">
					    	Cancelar
					    </button>
					    
					</div> 
					
				</div>
				
		
		
			    <div id="sn-add-refeicao-modal">
			    		
		    		<div class="mdl-grid">
		    		
		    			<input type="hidden" id="sn-refeicao-item-index"/>
							
						<div class="sn-textfield mdl-cell mdl-cell--4-col">
						
				    		<label for="sn-refeicao-hora"
				    		class="sn-textfield__label">
				    			Hora
				    		</label>
				    		
				    		<input type="text" 
				    		pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" 
				    		class="sn-textfield__input sn-time-picker" 
				    		id="sn-refeicao-hora"
				    		name="snrefeicaohora"/>
				    		
				    	</div>
						    	
						<div class="sn-selectfield mdl-cell mdl-cell--8-col">
						
				    		<label for="sn-refeicao-descricao"
				    		class="sn-textfield__label">
				    			Tipo
				    		</label>
				    		
				    		<select class="sn-selectfield__select"
				    		id="sn-refeicao-descricao"
				    		name="snrefeicaodescricao">
				    		
				    			<option value="">Selecione uma opção</option>
				    			
				    			<option th:each="tipo : ${tiposRefeicao}" 
				    			th:value="${tipo}" 
				    			th:text="${tipo.nome}">
				    			</option>
							    			
				    		</select>
			    		
			    		</div>
			    		
			    		<div class="sn-textfield mdl-cell mdl-cell--12-col">
			    		
				    		<label for="sn-refeicao-itens"
				    		class="sn-textfield__label">
				    			Itens
				    		</label>
				    		
				    		<textarea class="sn-textfield__input"
				    		id="sn-refeicao-itens"
				    		name="snrefeicaoitens"
				    		maxlength="255"></textarea>
				    		
				    	</div>
						
						<div class="sn-textfield mdl-cell mdl-cell--12-col">
				    		
				    		<label for="sn-refeicao-observacao"
				    		class="sn-textfield__label">
				    			Observação
				    		</label>
				    		
				    		<textarea class="sn-textfield__input"
				    		id="sn-refeicao-observacao"
				    		name="snrefeicaoobservacao"
				    		maxlength="255"></textarea>
				    		
				    	</div>
				    		
				    		
	   				</div>
			    	
			    </div>
			    
				
		    </form>

			<div class="mdl-cell
	              mdl-cell--3-col-desktop
	              mdl-cell--8-col-tablet
	              mdl-cell--4-col-phone">
	
	              <div class="sn-card sn-padding--48">
	                      <div class="mdl-layout-title">Informações do Paciente</div>
	              </div>
	              
	              <div class="sn-card sn-padding--48">
	              		  <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.nome != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Nome</div>
	                              <div class="sn-attribute__value" 
	                              th:text="${paciente.pessoa.nome}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.sexo != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Sexo</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.sexo}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.idade != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Idade</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.idade}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.cpf != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">CPF</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.cpf}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.telefone != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Telefone</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.telefone}"></div>
	                      </div>	      
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.ocupacaoOuCargo != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Cargo/Ocupação</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.ocupacaoOuCargo}"></div>
	                      </div>                

	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.email != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Email</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.email}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.vinculo !=  null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Vinculo</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.vinculo}"></div>
	                      </div>
	              </div>
	
	      </div>


			<div id="sn-confirma-cancelar-modal">
				Você realmente deseja descartar as alterações?
			</div>
		    
		</div>
		
	</section>
	
	<section layout:fragment="js">		
	
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
		<script type="text/javascript" th:src="@{/js/recordatorio/cadastrar.js}"></script>
		
	</section>

</body>

</html>
