<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	
	<title>Sinutri | Adicionar Recordatório</title>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/material-date-picker.css}"/>
	
</head>

<body>
	<section layout:fragment="breadcrumbs">
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">SiNutri</a>
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">Buscar</a>
		<a th:href="@{${'/Paciente/'+paciente.id}}" class="sn-breadcrumbs mdl-layout-title">Paciente</a>
		<a class="mdl-layout-title sn-breadcrumbs">Visualizar Recordatório</a>
	</section>
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
			<div class="
	              mdl-cell
	              mdl-cell--7-col-desktop mdl-cell--1-offset-desktop
	              mdl-cell--8-col-tablet
	              mdl-cell--4-col-phone
	              mdl-grid mdl-grid--no-spacing
	              sn-main-card">
	
	              <div class="mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--teal">
	
	                      <div class="mdl-layout-title mdl-color-text--white">Recordatório</div>
	
	                      <fabgroup class="sn-fab--bottom-right">
	
	                              <button id="sn-excluir-recordatorio" 
	                              th:attr="link=@{/Paciente/__${paciente.id}__/Recordatorio/__${recordatorio.id}__/Excluir}" 
	                              class="sn-fab sn-fab--hide mdl-button mdl-js-button 
	                              mdl-button--fab mdl-button--mini-fab 
	                              mdl-js-ripple-effect mdl-color--red-700">
	                                      <i class="material-icons mdl-color-text--white">delete</i>
	                              </button>
	
	                              <a th:href="@{/Paciente/__${paciente.id}__/Recordatorio/__${recordatorio.id}__/Editar}" 
	                              class="sn-fab sn-fab--hide mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-color--purple">
	                                      <i class="material-icons mdl-color-text--white">edit</i>
	                              </a>
	
	                              <button class="sn-float--launcher mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
	                                      <i class="material-icons mdl-color-text--white">more_horiz</i>
	                              </button>
	                              
	                      </fabgroup>
	
	              </div>
	
	              <div class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
	
	                      <!-- Text atribute -->
	                      <div class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Criado em</div>
	                              <div class="sn-attribute__value" th:text="${#dates.format(recordatorio.criadoEm, 'dd/MM/yyyy')}"></div>
	                      </div>
	
	                      <!-- Text atribute -->
	                      <div class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Atualizado em</div>
	                              <div class="sn-attribute__value" th:text="${#dates.format(recordatorio.atualizadoEm, 'dd/MM/yyyy')}"></div>
	                      </div>
	                      
	              </div>
	
	              <div class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
						   <!-- Text atribute -->
	                       <div class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Refeições</div>
	                       </div>
	                      
	                       <table class="mdl-data-table mdl-js-data-table">
	                      		   
                      		   		<thead>
                      		   			
                      		   			<tr>
							    			<th th:class="mdl-data-table__cell--non-numeric">Hora</th>
							    			<th th:class="mdl-data-table__cell--non-numeric">Descrição</th>
							    			<th th:class="mdl-data-table__cell--non-numeric">Itens</th>
							    			<th th:class="mdl-data-table__cell--non-numeric">Observação</th>
							    		</tr>
                      		   		
                      		   		</thead>
                      		   		
                      		   		<tbody>
                      		   			
                      		   			<tr th:each="refeicao : ${recordatorio.refeicoes}">
	                      		   			<td style="width:20%" 
							    			class="mdl-data-table__cell--non-numeric sn-refeicao-hora"
							    			th:text="${#dates.format(refeicao.hora, 'HH:mm')}">
							    			</td>
							    			
							    			<td style="width:20%" 
							    			class="mdl-data-table__cell--non-numeric sn-refeicao-descricao"
							    			th:text="${refeicao.descricao.nome}">
							    			</td>
							    			
							    			<td style="width:20%" 
							    			class="mdl-data-table__cell--non-numeric sn-refeicao-itens"
							    			th:text="${#strings.length(refeicao.itens) > 27}? ${#strings.append(#strings.substring(refeicao.itens, 0, 26), '...')} : ${refeicao.itens}">
							    			</td>
							    			
							    			<td style="width:20%" 
							    			class="mdl-data-table__cell--non-numeric sn-refeicao-observacao"
							    			th:text="${#strings.length(refeicao.observacao) > 27}? ${#strings.append(#strings.substring(refeicao.observacao, 0, 26), '...')} : ${refeicao.observacao}">
							    			</td>
                      		   			</tr>
                      		   			
                      		   		</tbody>
                      		   		
                      		   </table>
	
	              </div>
	
	      </div>
	      
	      <div class="mdl-cell
	              mdl-cell--3-col-desktop
	              mdl-cell--8-col-tablet
	              mdl-cell--4-col-phone">
	
	              <div class="sn-card sn-padding--48">
	                      <div class="mdl-layout-title">Informações do Paciente</div>
	              </div>
	              
	              <div class="sn-card sn-padding--48">
	              		  <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.nome != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Nome</div>
	                              <div class="sn-attribute__value" 
	                              th:text="${paciente.pessoa.nome}"></div>
	                      </div>

	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.email != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Email</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.email}"></div>
	                      </div>
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.telefone != null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Telefone</div>
	                              <div class="sn-attribute__value" th:text="${paciente.pessoa.telefone}"></div>
	                      </div>	                      
	                      
	                      <!-- Text atribute -->
	                      <div th:if="${paciente.pessoa.dataNascimento !=  null}" class="sn-attribute mdl-cell mdl-cell--6-col">
	                              <div class="sn-attribute__title">Data de Nascimento</div>
	                              <div class="sn-attribute__value" th:text="${#dates.format(paciente.pessoa.dataNascimento, 'dd/MM/yyyy')}"></div>
	                      </div>
	              </div>
	
	      </div>
	      
		</div>
		
		<div id="sn-confirma-excluir-modal">
			Você realmente deseja excluir este Recordatório?
		</div>
		
	</section>
	
	<section layout:fragment="js">	
		
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
		<script type="text/javascript" th:src="@{/js/recordatorio/visualizar.js}"></script>
		
	</section>

</body>
</html>
