<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	
	<title>Sinutri | Adicionar Recordatório</title>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/material-date-picker.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/adicionar-recordatorio.css}"/>
	
</head>

<body>

	<section layout:fragment="conteudo">
		
		
		
	</section>
	
	<section layout:fragment="js">	
		
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
		<script type="text/javascript" th:src="@{/js/adicionar-recordatorio.js}"></script>
		
	</section>

</body>
</html>
