<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	<title>Sinutri | Buscar</title>
</head>
<section layout:fragment="conteudo">
	<div class="mdl-grid">
		<div class="sn-list mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
			<div class="sn-display--block sn-fill--width sn-search sn-padding--48 mdl-shadow--2dp mdl-color--white">
				<span class="mdl-layout-title">Buscar</span>
			</div>
		</div>
	</div>
</section>
</html>
