<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">
<head>
	<title>Sinutri | Nova Avaliação Antropometrica</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<!-- 
		<div th:if="${erro != null}">
			<div class="alert alert-danger alert-dismissible fade in"
				role="alert" id="alert-erro">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<div th:text="${erro}"></div>
			</div>
		</div>
		<div th:if="${info != null}">
			<div class="alert alert-success alert-dismissible fade in"
				role="alert" id="alert-info">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<div th:text="${info}"></div>
			</div>
		</div>
		 -->
		
		<div class="mdl-grid">
			
			<div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--1-offset-desktop sn-card sn-padding--48">
				<div class="mdl-layout-title" th:text="${avaliacaoAntropometrica.paciente.pessoa.nome}">Form</div>
				<form id="form-antropometria" action="#" th:action="@{${'/paciente/'+avaliacaoAntropometrica.paciente.id+'/Antropometria/'}}" class="form-horizontal" th:object="${avaliacaoAntropometrica}" method="post" enctype="multipart/form-data">
					<h5>
						<label>Nova Avaliação Antropométrica para</label> 
						<strong th:text="${avaliacaoAntropometrica.paciente.pessoa.nome}">José da Silva</strong>
					</h5>
					
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{atualizadoEm}" />
					<input type="hidden" th:field="*{paciente.id}" />
					<input type="hidden" th:field="*{nutricionista.id}" />
					
					<h4>GERAL</h4>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="text" th:field="*{criadoEm}" class="mdl-textfield__input sn-input__date-datepicker sn-input__date-now" placeholder="dd/mm/aaaa" required="required" />
						<label th:for="${#ids.next('criadoEm')}" class="mdl-textfield__label">Data:</label>
						<p th:if="${#fields.hasErrors('criadoEm')}" th:errors="*{criadoEm}">Data inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{altura}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('altura')}" class="mdl-textfield__label">Altura (m):</label>
						<p th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}">Altura inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{peso}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('peso')}" class="mdl-textfield__label">Peso (Kg):</label>
						<p th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}">Peso inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{pesoDesejado}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('pesoDesejado')}" class="mdl-textfield__label">Peso desejado (Kg):</label>
						<p th:if="${#fields.hasErrors('pesoDesejado')}" th:errors="*{pesoDesejado}">Peso Desejado inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{cintura}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('cintura')}" class="mdl-textfield__label">Cintura (cm):</label>
						<p th:if="${#fields.hasErrors('cintura')}" th:errors="*{cintura}">Cintura inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{abdomen}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('abdomen')}" class="mdl-textfield__label">Abdomen (cm):</label>
						<p th:if="${#fields.hasErrors('abdomen')}" th:errors="*{abdomen}">Abdomen inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{quadril}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('quadril')}" class="mdl-textfield__label">Quadril (cm):</label>
						<p th:if="${#fields.hasErrors('quadril')}" th:errors="*{quadril}">Quadril inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{punho}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('punho')}" class="mdl-textfield__label">Punho (cm):</label>
						<p th:if="${#fields.hasErrors('punho')}" th:errors="*{punho}">Punho inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{antebraco}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('antebraco')}" class="mdl-textfield__label">Antebraco (cm):</label>
						<p th:if="${#fields.hasErrors('antebraco')}" th:errors="*{antebraco}">Antebraco inválido</p>
					</div>
					
					<h4>CIRCUNFERÊNCIAS</h4>
				
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{ombro}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('ombro')}" class="mdl-textfield__label">Ombro (cm):</label>
						<p th:if="${#fields.hasErrors('ombro')}" th:errors="*{ombro}">Ombro inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{peitoral}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('peitoral')}" class="mdl-textfield__label">Peitoral (cm):</label>
						<p th:if="${#fields.hasErrors('peitoral')}" th:errors="*{peitoral}">Peitoral inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{panturrilhaDireita}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('panturrilhaDireita')}" class="mdl-textfield__label">Panturrilha Direita (cm):</label>
						<p th:if="${#fields.hasErrors('panturrilhaDireita')}" th:errors="*{panturrilhaDireita}">Panturrilha Direita inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{panturrilhaEsquerda}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('panturrilhaEsquerda')}" class="mdl-textfield__label">Panturrilha Esquerda (cm):</label>
						<p th:if="${#fields.hasErrors('panturrilhaEsquerda')}" th:errors="*{panturrilhaEsquerda}">Panturrilha Esquerda inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{pescoco}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('pescoco')}" class="mdl-textfield__label">Pescoço (cm):</label>
						<p th:if="${#fields.hasErrors('pescoco')}" th:errors="*{pescoco}">Pescoço inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{coxaDireita}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('coxaDireita')}" class="mdl-textfield__label">Coxa Direita (cm):</label>
						<p th:if="${#fields.hasErrors('coxaDireita')}" th:errors="*{coxaDireita}">Coxa direita inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{coxaEsquerda}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('coxaEsquerda')}" class="mdl-textfield__label">Coxa Esquerda (cm):</label>
						<p th:if="${#fields.hasErrors('coxaEsquerda')}" th:errors="*{coxaEsquerda}">Coxa esquerda inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{coxaProximalDireita}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('coxaProximalDireita')}" class="mdl-textfield__label">Coxa Proximal Direita (cm):</label>
						<p th:if="${#fields.hasErrors('coxaProximalDireita')}" th:errors="*{coxaProximalDireita}">Coxa proximal direita inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{coxaProximalEsquerda}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('coxaProximalEsquerda')}" class="mdl-textfield__label">Coxa Proximal Esquerda (cm):</label>
						<p th:if="${#fields.hasErrors('coxaProximalEsquerda')}" th:errors="*{coxaProximalDireita}">Coxa proximal esquerda inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{bracoRelaxadoDireito}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('bracoRelaxadoDireito')}" class="mdl-textfield__label">Braco Relaxado Direito (cm):</label>
						<p th:if="${#fields.hasErrors('bracoRelaxadoDireito')}" th:errors="*{bracoRelaxadoDireito}">Braço relaxado direito inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{bracoRelaxadoEsquerdo}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('bracoRelaxadoEsquerdo')}" class="mdl-textfield__label">Braco Relaxado Esquerdo (cm):</label>
						<p th:if="${#fields.hasErrors('bracoRelaxadoEsquerdo')}" th:errors="*{bracoRelaxadoEsquerdo}">Braço relaxado esquerdo inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{bracoContraidoDireito}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('bracoContraidoDireito')}" class="mdl-textfield__label">Braco Contraído Direito (cm):</label>
						<p th:if="${#fields.hasErrors('bracoContraidoDireito')}" th:errors="*{bracoContraidoDireito}">Braço contraído direito inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{bracoContraidoEsquerdo}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('bracoContraidoEsquerdo')}" class="mdl-textfield__label">Braco Contraido Esquerdo (cm):</label>
						<p th:if="${#fields.hasErrors('bracoContraidoEsquerdo')}" th:errors="*{bracoContraidoEsquerdo}">Braço contraído esuqerdo inválido</p>
					</div>
					
					<h4>DiÂMETROS ÓSSEOS</h4>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{diametroPunho}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('diametroPunho')}" class="mdl-textfield__label">Diâmetro Punho (cm):</label>
						<p th:if="${#fields.hasErrors('diametroPunho')}" th:errors="*{diametroPunho}">Diametro do punho inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{diametroFemur}" class="mdl-textfield__inputsn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('diametroFemur')}" class="mdl-textfield__label">Diâmetro Fêmur (cm):</label>
						<p th:if="${#fields.hasErrors('diametroFemur')}" th:errors="*{diametroFemur}">Diametro do fêmur inválido</p>
					</div>
					
					<h4>COMPOSIÇÂO CORPORAL</h4>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{biceps}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('biceps')}" class="mdl-textfield__label">Biceps (cm):</label>
						<p th:if="${#fields.hasErrors('biceps')}" th:errors="*{biceps}">Biceps inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{triceps}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('triceps')}" class="mdl-textfield__label">Triceps (cm):</label>
						<p th:if="${#fields.hasErrors('triceps')}" th:errors="*{triceps}">Triceps inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{axilarMedia}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('axilarMedia')}" class="mdl-textfield__label">Axilar Média (cm):</label>
						<p th:if="${#fields.hasErrors('axilarMedia')}" th:errors="*{axilarMedia}">Axilar média inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{torax}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('torax')}" class="mdl-textfield__label">Tórax (cm):</label>
						<p th:if="${#fields.hasErrors('torax')}" th:errors="*{torax}">Tórax inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{panturrilhaMedial}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('panturrilhaMedial')}" class="mdl-textfield__label">Panturrilha Medial (cm):</label>
						<p th:if="${#fields.hasErrors('panturrilhaMedial')}" th:errors="*{panturrilhaMedial}">Panturrilha Medial inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{abdominal}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('abdominal')}" class="mdl-textfield__label">Abdominal (cm):</label>
						<p th:if="${#fields.hasErrors('abdominal')}" th:errors="*{abdominal}">Abdominal inválido</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{suprailiaca}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('suprailiaca')}" class="mdl-textfield__label">Suprailíaca (cm):</label>
						<p th:if="${#fields.hasErrors('suprailiaca')}" th:errors="*{suprailiaca}">Suprailiaca inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{subescapular}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('subescapular')}" class="mdl-textfield__label">Subescapular (cm):</label>
						<p th:if="${#fields.hasErrors('subescapular')}" th:errors="*{subescapular}">Subescapular inválida</p>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-display--flex sn-fill--width">
						<input type="number" th:field="*{coxa}" class="mdl-textfield__input sn-input__number" pattern="-?[0-9]*(\.[0-9]+)?"/>
						<label th:for="${#ids.next('coxa')}" class="mdl-textfield__label">Coxa (cm):</label>
						<p th:if="${#fields.hasErrors('coxa')}" th:errors="*{coxa}">Coxa inválida</p>
					</div>
					
					<button class="mdl-button mdl-button--raised mdl-button--colored">Cadastrar</button>
					
				</form>
			</div>
			
			<div class="mdl-cell mdl-cell--3-col-desktop sn-card sn-padding--48">
				<div class="mdl-layout-title">Informações</div>
			</div>
		</div>
		
	</section>
</body>
</html>