.mdl-dialog
{
	width: 380px !important;
}

.sn-form-actions {
	width: calc(100% - 30px);
	float: right;
	margin-top: 100px;
	color: #fff;
}

.sn-list-refeicao__actions {
	padding-top: 0;
	height: calc(36px);
}

.sn-list-refeicao__actions button{
	float: right;
}

#formAdicionarRecordatorio
{
	position: relative;
	overflow: visible;
}

.mdl-list__item-primary-content {
	height: auto !important;
}

.mdl-list__item {
	height: auto !important;
	margin-bottom: 8px;
}

.mdl-list__item-text-body {
	height: auto !important;
}

.mdl-list__item-secondary-content {
	height: auto !important;
}

.sn-list-refeicoes li {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#sn-add-refeicao-button {
	margin: -6px 20px;
}

.sn-list-refeicoes {
	margin: 0;
	padding: 0;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
}