.mdl-dialog
{
	width: 380px !important;
}

.sn-form-actions {
	width: calc(100% - 30px);
	float: right;
	margin-top: 100px;
	color: #fff;
}

#formAdicionarRecordatorio
{
	position: relative;
	overflow: visible;
}

.mdl-list__item-primary-content {
	height: auto !important;
}

.mdl-list__item {
	height: auto !important;
	margin-bottom: 8px;
}

.mdl-list__item-text-body {
	height: auto !important;
}

.mdl-list__item-secondary-content {
	height: auto !important;
}

.sn-list-refeicoes {
	
	padding: 16px;
	margin: 16px;
		
}