<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	<title>Sinutri | Cadastrar Prescrição</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/material--picker.css}"/>
	
</head>
	<section layout:fragment="breadcrumbs">
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">SiNutri</a>
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">Buscar</a>
		<a th:href="@{${'/Paciente/'+prescricao.paciente.id}}" class="sn-breadcrumbs mdl-layout-title">Paciente</a>
		<a class="mdl-layout-title sn-breadcrumbs">Cadastrar Prescrição</a>
	</section>
	<section layout:fragment="conteudo">
		
		<div class="mdl-grid">
			
			<form  
				class="sn-form mdl-cell
	            mdl-cell--7-col-desktop mdl-cell--1-offset-desktop
	            mdl-cell--8-col-tablet
	            mdl-cell--4-col-phone
	            mdl-grid mdl-grid--no-spacing
	            sn-main-card" id="form-prescricao" action="#" th:object="${prescricao}" 
	            th:action="@{${'/Paciente/'+prescricao.paciente.id+'/Prescricao'}}" th:method="post">
					
					<input type="hidden" id="id" th:field="*{id}"/>
					<input type="hidden" id="id" th:field="*{paciente.id}"/>
					<input type="hidden" id="id" th:field="*{nutricionista.id}"/>
					<input type="hidden" id="id" th:field="*{atualizadoEm}"/>
					
										
						
						<div class="mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white">
 							<div class="mdl-layout-title mdl-color-text--blue-600">Cadastrar prescrição</div>
						</div>	
						
						<div class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">
						
						<div class="sn-textfield mdl-cell mdl-cell--6-col">
							<label class="sn-textfield__label" for="inputDataCriacao">Data de Criação</label>
							<label class="sn-textfield__messages sn-error-text" 
								th:if="${#fields.hasErrors('criadoEm')}" th:errors="*{criadoEm}"> Erro na data de criação </label>
							<input class="sn-textfield__input sn--picker" type="text" 
									id="inputDataCriacao" th:field="*{criadoEm}" />
						</div>
						
						<div class="sn-textfield mdl-cell mdl-cell--12-col">	
							<label class="sn-textfield__label" for="inputTextDescricao">Descrição</label>
							<label class="sn-textfield__messages sn-error-text" 
								th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"> Erro na descrição </label>
							<input class="sn-textfield__input" type="text" id="inputTextDescricao" th:field="*{descricao}" maxlength="255" />
						</div>
										
						<div class="sn-textfield mdl-cell mdl-cell--12-col">
							<label class="sn-textfield__label" for="inputTextTexto">Texto</label>
							<label class="sn-textfield__messages sn-error-text" 
								th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}"> Erro no texto</label>
							<textarea class="sn-textfield__input" rows= "5" id="inputTextTexto" th:field="*{texto}" maxlength="255"></textarea>
						</div>
				
						<div class="sn-form-actions">
							<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" 
								value="Cadastrar" data-upgraded=",MaterialButton,MaterialRipple"></input>
							<a id="cancelar" th:href="@{${'/Paciente/'+prescricao.paciente.id}}" type="button" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" 
								 data-upgraded=",MaterialButton,MaterialRipple"> Cancelar </a> 
						</div>
					</div>
						
				</form>
				
				<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					<div class="sn-card sn-padding--48">
						<div class="mdl-layout-title">Informações do Paciente</div>
											
						<div class="sn-attribute__title"> Nome </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.nome}"></div>
						
						<div class="sn-attribute__title"> Idade </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.idade}"> </div>
						
						<div class="sn-attribute__title"> Sexo </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.sexo}"></div>
						
						<div class="sn-attribute__title"> Telefone </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.telefone}"></div>
						
						<div class="sn-attribute__title"> Email </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.email}"></div>
						
						<div class="sn-attribute__title"> CPF </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.cpf}"></div>
						
						<div class="sn-attribute__title"> Cargo/Ocupação </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.ocupacaoOuCargo}"></div>
								
						<div class="sn-attribute__title"> Vínculo </div>
						<div class="sn-attribute__value" th:text="${prescricao.paciente.pessoa.vinculo}"></div>
					</div>
				</div>
			</div>
		
		<div id="modal-cancelar">
		
		</div>
		
	</section>
	<section layout:fragment="js"> 
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material--picker.js}"></script>
		
		<script type="text/javascript">
		
		$( "#cancelar" ).click(function(event) {
		          var dialog = sn_base.doRegistryDialog({
		              title: "Você realmente deseja descartar as alterações?",
		              dialog: "#modal-cancelar",
		              buttons: [
		                      {
		                         label: "SIM",
		                         attrs: {href: $(this).attr("href")},
		                         action: function() {
		                             dialog.close();
		                         }
		                      },
		                      {
		                          label: "NÃO",
		                          action: function() {
		                              dialog.close();
		                          }
		                      }
		              ]
		              });                     
		          dialog.showModal();
		          event.preventDefault();
		      });
		
		</script>
		
	</section>
	
</html>