<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	<title>Sinutri | Editar</title>
</head>
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
			<div class="mdl-cell
				mdl-cell--7-col-desktop mdl-cell--1-offset-desktop
				sn-card sn-padding--48">
	  				
			<div class="mdl-layout-title">Prescrição</div>
				<form id="form-prescricao" action="#" th:object="${prescricao}" th:method="post" th:action="@{${'/Paciente/1/Prescricao/'+prescricao.id+'/Editar/'}}">
	
					<input type="hidden" id="id" th:field="*{id}"/>
					<input type="hidden" id="atualizadoEm" th:field="*{atualizadoEm}" />
					<div class="sn-textfield mdl-cell mdl-cell--12-col">	
						<label class="sn-textfield__label" for="inputTextDescricao">Descrição</label>
						<input class="sn-textfield__input" type="text" id="inputTextDescricao" th:field="*{descricao}"/>
					</div>
									
					<div class="sn-textfield mdl-cell mdl-cell--12-col">
						<label class="sn-textfield__label" for="inputTextTexto">Texto</label>
						<textarea class="sn-textfield__input" rows= "5" id="inputTextTexto" th:field="*{texto}"></textarea>
					</div>
			
					<div class="sn-textfield mdl-cell mdl-cell--6-col">
						<label class="sn-textfield__label" for="inputDataCriacao">Data de Criação</label>
						<input class="sn-textfield__input sn-date-time-picker" type="text" 
								id="inputDataCriacao" th:field="*{criadoEm}" />
					</div>
							
					<div class="sn-form-actions">
						<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" 
							value="Salvar" data-upgraded=",MaterialButton,MaterialRipple"></input>
						<input type="button" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" 
							value="Cancelar" data-upgraded=",MaterialButton,MaterialRipple"></input>
					</div>
				</form>
			</div>
		</div>
</section>

</html>
