body {
	background: #ECEFEF;
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo-sinutri {
	border: 0;
	width: 215px;
	margin: -18px -10px -2px -6px;
	height: 60px;
}

.thead {
	background: #95A5A6;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 10px 0 10px 0;
	background: #DDDDDD;
}

.text-muted {
	color: #22567B;
}

.clear {
	clear: both;
}

.tituloConsulta {
	margin: 0;
	padding: 2px 0 2px 0;
}

ul.nav-tabs {
	width: 215px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
	border-top: none;
}

ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}

.badge {
	padding: 3px 6px;
}

.list-group-item, .table {
	background-color: #ECEFEF;
}

.section {
	border-bottom: 1px solid;
}

.label-horario h1 {
	margin-top: 5px;
}

.form-busca {
	display: inline;
}

small {
	margin-left: 7% !important;
	color: #2C3E50 !important;
}

.modal-backdrop {
	z-index: auto;
}

#patologiasFrequentes {
	font: 12px sans-serif;
}

#patologiasFrequentes .axis path, #patologiasFrequentes .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#patologiasFrequentes .y.axis path {
	display: none;
}

#patologiasFrequentes .y.axis line {
	stroke: #777;
	stroke-dasharray: 2, 2;
}

#patologiasFrequentes .bar {
	fill: #6BB3F2;
}

#patologiasFrequentes .bar:hover {
	fill: steelblue;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 1px;
	background: #6BB3F2 none repeat scroll 0% 0%;
	color: #fff;
	border-radius: 2px;
	text-shadow: #000 1px 1px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

/* Historicos PESO IMC CC */
.container {
	font: 12px sans-serif;
}

.container .axis path, .container .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.container .y.axis path {
	display: none;
}

.container .x.axis path {
	display: none;
}

.container .y.axis line {
	stroke: #777;
	stroke-dasharray: 2, 2;
}

.container .x.axis line {
	stroke: #777;
	stroke-dasharray: 2, 2;
}

.container .y.axis .titleText {
	font: 20px sans-serif;
}

.container .bar {
	fill: #6BB3F2;
}

.container .bar:hover {
	fill: steelblue;
}

.container .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2.0px;
}

.container circle {
	fill: white;
	stroke: steelblue;
	stroke-width: 3.0px;
}

.container circle:hover {
	stroke-width: 6.0px;
}

/*about-sobre*/
.logo-sinutri-sobre {
	border: 0;
	width: 645px;
	margin: -18px -10px -2px -6px;
	height: 180px;
}

.logo-sobre {
	border: 0;
	width: 645px;
	margin: 6% -10px -2px 23%;
	height: 180px;
}

.descript-sobre {
	margin: 6% -10px -2px 23%;
	text-align: justify;
}
.descript-sobre .text-muted {
	margin-left: 6%;
}