<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    	
    	<title>Cadastro de inquérito alimentar</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Adicionar Inquérito Alimentar</h1>

        <form th:object="${inquerito}" th:method="post" th:action="@{/paciente/2/Inquerito/}">
			<input type="hidden" id="id" th:field="*{id}" value="100"/>
			
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="criadoEm" class="control-label">Data</label>
					<input id="inputTextCriadoEm" th:field="*{criadoEm}" class="form-control" placeholder="Anotação" />
				</div>
			</div>			
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkBovinoGosta" class="control-label">
					<input type="checkbox" id="checkBovinoGosta" th:field="*{aguaGosta}" class="checkInquerito" /> Gosta água?</label>
					<select th:field="*{aguaFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="aguaAnotacao" class="control-label">Anotação</label>
					<input id="inputTextagua" th:field="*{aguaAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkAvesGosta" class="control-label">
					<input type="checkbox" id="checkAvesGosta" th:field="*{avesGosta}" class="checkInquerito" /> Gosta de aves?</label>
					<select th:field="*{avesFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="avesAnotacao" class="control-label">Anotação</label>
					<input id="inputTextAves" th:field="*{avesAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkBebidasAlcoolicasGosta" class="control-label">
					<input type="checkbox" id="checkBebidasAlcoolicasGosta" th:field="*{bebidasAlcoolicasGosta}" class="checkInquerito" /> Gosta de bebidas alcoólicas?</label>
					<select th:field="*{bebidasAlcoolicasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="bebidasAlcoolicasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextBebidasAlcoolicas" th:field="*{bebidasAlcoolicasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkBovinaGosta" class="control-label">
					<input type="checkbox" id="checkBovinaGosta" th:field="*{bovinaGosta}" class="checkInquerito" /> Gosta de carne bovina?</label>
					<select th:field="*{bovinaFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="bovinaAnotacao" class="control-label">Anotação</label>
					<input id="inputTextBovina" th:field="*{bovinaAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkCereaisGosta" class="control-label">
					<input type="checkbox" id="checkCereaisGosta" th:field="*{cereaisGosta}" class="checkInquerito" /> Gosta de cereais?</label>
					<select th:field="*{cereaisFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="cereaisAnotacao" class="control-label">Anotação</label>
					<input id="inputTextCereais" th:field="*{cereaisAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkDocesGosta" class="control-label">
					<input type="checkbox" id="checkDocesGosta" th:field="*{docesGosta}" class="checkInquerito" /> Gosta de doces?</label>
					<select th:field="*{docesFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="docesAnotacao" class="control-label">Anotação</label>
					<input id="inputTextDoces" th:field="*{docesAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkFrutasGosta" class="control-label">
					<input type="checkbox" id="checkFrutasGosta" th:field="*{frutasGosta}" class="checkInquerito" /> Gosta de frutas?</label>
					<select th:field="*{frutasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="frutasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextFrutas" th:field="*{FrutasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkGaseificadasGosta" class="control-label">
					<input type="checkbox" id="checkGaseificadasGosta" th:field="*{gaseificadasGosta}" class="checkInquerito" /> Gosta de bebidas gaseificadas?</label>
					<select th:field="*{gaseificadasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="gaseificadasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextGaseificadas" th:field="*{gaseificadasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkInfusoesGosta" class="control-label">
					<input type="checkbox" id="checkInfusoesGosta" th:field="*{infusoesGosta}" class="checkInquerito" /> Gosta de infusão?</label>
					<select th:field="*{infusoesFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="infusoesAnotacao" class="control-label">Anotação</label>
					<input id="inputTextInfusoes" th:field="*{infusoesAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkLeguminosasGosta" class="control-label">
					<input type="checkbox" id="checkLeguminosasGosta" th:field="*{leguminosasGosta}" class="checkInquerito" /> Gosta de leguminosas?</label>
					<select th:field="*{leguminosasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
				<div class="form-item col-sm-6">
					<label for="leguminosasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextLeguminosas" th:field="*{leguminosasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkLeiteDerivadosGosta" class="control-label">
					<input type="checkbox" id="checkLeiteDerivadosGosta" th:field="*{leiteDerivadosGosta}" class="checkInquerito" /> Gosta de leite ou derivados?</label>
					<select th:field="*{leiteDerivadosFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="leiteDerivadosAnotacao" class="control-label">Anotação</label>
					<input id="inputTextLeiteDerivados" th:field="*{leiteDerivadosAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkManteigaGosta" class="control-label">
					<input type="checkbox" id="checkManteigaGosta" th:field="*{manteigaGosta}" class="checkInquerito" /> Gosta de manteiga?</label>
					<select th:field="*{manteigaFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="manteigaAnotacao" class="control-label">Anotação</label>
					<input id="inputTextManteiga" th:field="*{manteigaAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkMargarinaGosta" class="control-label">
					<input type="checkbox" id="checkMargarinaGosta" th:field="*{margarinaGosta}" class="checkInquerito" /> Gosta de margarina?</label>
					<select th:field="*{margarinaFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="margarinaAnotacao" class="control-label">Anotação</label>
					<input id="inputTextMargarina" th:field="*{margarinaAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkMassasGosta" class="control-label">
					<input type="checkbox" id="checkMassasGosta" th:field="*{massasGosta}" class="checkInquerito" /> Gosta de massas?</label>
					<select th:field="*{massasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="massasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextMassas" th:field="*{massasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkOleoGosta" class="control-label">
					<input type="checkbox" id="checkOleoGosta" th:field="*{oleoGosta}" class="checkInquerito" /> Gosta de óleos?</label>
					<select th:field="*{oleoFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="oleoAnotacao" class="control-label">Anotação</label>
					<input id="inputTextOleo" th:field="*{oleoAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkOvosGosta" class="control-label">
					<input type="checkbox" id="checkOvosGosta" th:field="*{ovosGosta}" class="checkInquerito" /> Gosta de ovos?</label>
					<select th:field="*{ovosFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="ovosAnotacao" class="control-label">Anotação</label>
					<input id="inputTextOvos" th:field="*{ovosAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkPeixeGosta" class="control-label">
					<input type="checkbox" id="checkPeixeGosta" th:field="*{peixeGosta}" class="checkInquerito" /> Gosta de peixes?</label>
					<select th:field="*{peixeFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="peixeAnotacao" class="control-label">Anotação</label>
					<input id="inputTextPeixe" th:field="*{peixeAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkSucoGosta" class="control-label">
					<input type="checkbox" id="checkSucoGosta" th:field="*{sucoGosta}" class="checkInquerito" /> Gosta de sucos?</label>
					<select th:field="*{sucoFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="sucoAnotacao" class="control-label">Anotação</label>
					<input id="inputTextSuco" th:field="*{sucoAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkToucinhoBaconGosta" class="control-label">
					<input type="checkbox" id="checkToucinhoBaconGosta" th:field="*{toucinhoBaconGosta}" class="checkInquerito" /> Gosta de toucinho ou bacon?</label>
					<select th:field="*{toucinhoBaconFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="toucinhoBaconAnotacao" class="control-label">Anotação</label>
					<input id="inputTextToucinhoBacon" th:field="*{toucinhoBaconAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkVegetaisCozidosGosta" class="control-label">
					<input type="checkbox" id="checkVegetaisCozidosGosta" th:field="*{vegetaisCozidosGosta}" class="checkInquerito" /> Gosta de vegetais cozidos?</label>
					<select th:field="*{vegetaisCozidosFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="vegetaisCozidosAnotacao" class="control-label">Anotação</label>
					<input id="inputTextVegetaisCozidos" th:field="*{vegetaisCozidosAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkVegetaisCrusGosta" class="control-label">
					<input type="checkbox" id="checkVegetaisCrusGosta" th:field="*{vegetaisCrusGosta}" class="checkInquerito" /> Gosta de vegetais crus?</label>
					<select th:field="*{vegetaisCrusFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="vegetaisCrusAnotacao" class="control-label">Anotação</label>
					<input id="inputTextVegetaisCrus" th:field="*{vegetaisCrusAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="checkViscerasGosta" class="control-label">
					<input type="checkbox" id="checkViscerasGosta" th:field="*{viscerasGosta}" class="checkInquerito" /> Gosta de vísceras?</label>
					<select th:field="*{viscerasFrequenciaSemanal}" class="form-control select">
						<option value="">Quantas vezes por semana?</option>
						<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}"></option>
					</select>
				</div> 
	
				<div class="form-item col-sm-6">
					<label for="viscerasAnotacao" class="control-label">Anotação</label>
					<input id="inputTextVisceras" th:field="*{viscerasAnotacao}" class="form-control" placeholder="Anotação" />
				</div>
			</div>
			<div class="row form-group">
				<div class="form-item col-sm-6">
					<label for="observacoes" class="control-label">Observações</label>
					<textarea rows="3" cols="50" placeholder="Observações" th:field="*{observacoes}"></textarea>
				</div>
			</div>
	
			<input type="submit" />
        </form>
    </body>
</html>
