<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/layoutPadrao :: head">
	<title>Editar Anamnese</title>
</head>

<body >
    <nav th:replace="templates/layoutPadrao :: menu"></nav>
    <div class="container">
    
	    <form id="form-anamnese" action="#" method="post" th:action="@{${'/paciente/'+anamnese.paciente.id+'/Anamnese/'+anamnese.id+'/Editar'}}" th:object="${anamnese}">
	    	<input type="hidden" th:field="*{id}" name="id"/>
	    	<input type="hidden" th:field="*{paciente.id}" />
	    	
	    	<div class="row form-group">
	    		<div class="form-item col-sm-2">
	    			<label class="control-label">Data de Edição:</label>
	    			<input class="form-control" type="date" th:field="*{atualizadoEm}"/>	    			
	    			<div class="error-validation">
							<label class="label label-danger" th:if="${#fields.hasErrors('atualizadoEm')}" 
								th:errors="*{atualizadoEm}"
							>Error message</label>
					</div>
	    		</div>
	    	</div>
	    	
	    	<div class="row form-group">
	   			<div class="form-item col-sm-12">
	   				<label>Objetivo da consulta:</label>
	   				<textarea id="objetivoConsulta" th:field="*{objetivoConsulta}"
	   					class="form-control" rows="5" placeholder="Descreva aqui o objetivo da consulta..."
	   				></textarea>
	   				<div class="error-validation">
							<label class="label label-danger" th:if="${#fields.hasErrors('objetivoConsulta')}" 
								th:errors="*{objetivoConsulta}"
							>Error message</label>
					</div>
	   			</div>
	    	</div>
	    	
		     <div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
			        Hábitos de Vida</a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse in">
			      <div class="panel-body">
			  			<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkAtividadeFisica" class="control-label"><input type="checkbox"
										id="checkAtividadeFisica" th:field="*{atividadeFisica}"
										/> Atividade Física:</label>
								<input id="inputTextAtividadeFisica" type="text"
									th:field="*{atividadeFisicaComentario}" class="form-control"
									placeholder="Qual atividade?"									
									 />
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('atividadeFisicaComentario')}" 
										th:errors="*{atividadeFisicaComentario}"
									>Error message</label>
								</div>
							</div>
						</div>    	
			      </div>
			      
			      <div class="panel-body">
			  			<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkDormeBem" class="control-label"><input type="checkbox"
										id="checkDormeBem" th:field="*{dormeBem}"
										/> Dorme Bem?:</label>
								<input id="inputTextDormeBem" type="text"
									th:field="*{dormeBemComentario}" class="form-control"
									placeholder="Comentários"
									/>
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('dormeBemComentario')}" 
										th:errors="*{dormeBemComentario}"
									>Error message</label>
								</div>
							</div>
						</div>    	
			      </div>
			    
			    <div class="panel-body">
			  			<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkBebidaAlcoolica" class="control-label"><input type="checkbox"
										id="checkBebidaAlcoolica" th:field="*{bebidaAlcoolica}"
										/> Bebida alcóolica:</label>
								<input id="inputTextbeBidaAlcoolica" type="text"
									th:field="*{bebidaAlcoolicaComentario}" class="form-control"
									placeholder="Comentários"
									/>
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('bebidaAlcoolicaComentario')}" 
										th:errors="*{bebidaAlcoolicaComentario}"
									>Error message</label>
								</div>
							</div>
						</div>    	
			      </div>
			    </div>
			    
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
			        Patologias</a>
			      </h4>
			    </div>
			    <div id="collapse2" class="panel-collapse collapse">
			      <div class="panel-body">
			      	<div class="row form-group">
						<div class="form-item col-sm-6">
							<label for="inputTextPatologias" class="control-label">Patologias:</label>
							<input id="inputTextPatologias" type="text"
								th:field="*{patologiasComentario}" class="form-control"
								placeholder="Comentários" />
							<div class="error-validation">
								<label class="label label-danger" th:if="${#fields.hasErrors('patologiasComentario')}" 
									th:errors="*{patologiasComentario}"
								>Error message</label>
							</div>
						</div>
					</div>  
						
					<div class="row form-group">
						<div class="form-item col-sm-6">
							<label for="checkMedicamento" class="control-label"><input type="checkbox"
									id="checkMedicamento" th:field="*{medicamento}"
									/> Medicamento:</label>
							<input id="inputTextMedicamento" type="text"
								th:field="*{medicamentoComentario}" class="form-control"
								placeholder="Comentários"
								/>
							<div class="error-validation">
								<label class="label label-danger" th:if="${#fields.hasErrors('medicamentoComentario')}" 
									th:errors="*{medicamentoComentario}"
								>Error message</label>
							</div>
						</div>
					</div>
							
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
			        Avaliação Clínica</a>
			      </h4>
			    </div>
			    <div id="collapse3" class="panel-collapse collapse">
			      <div class="panel-body">
				      <div class="row form-group">
			      	  		<div class="form-item col-sm-6">
								<label class="control-label"> Apetite:</label>
								<select th:field="*{apetite}" class="form-control">
									<option value="">Selecione:</option>
									<option th:each="t: ${tiposApetite}" th:value="${t.tipo}" th:text="${t.tipo}"></option>
								</select>			      				      	  																		
							</div>
							<div class="form-item col-sm-6">
								<label class="control-label">&nbsp;&nbsp;&nbsp;</label>			      				      	  										
								<input id="inputTextApetite" type="text"
									th:field="*{apetiteComentario}" class="form-control"
									placeholder="Comentários"/>
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('apetiteComentario')}" 
										th:errors="*{apetiteComentario}"
									>Error message</label>
								</div>
							</div>							
				        </div>
				        
				        <div class="row form-group">
			      	  		<div class="form-item col-sm-6">
								<label class="control-label"> Sistema urinário:</label>
								<select th:field="*{sistemaUrinario}" class="form-control">
									<option value="">Selecione:</option>
									<option th:each="t: ${tiposSistemaUrinario}" th:value="${t.tipo}" th:text="${t.tipo}"></option>
								</select>			      				      	  																	
							</div>
							<div class="form-item col-sm-6">
								<label class="control-label">&nbsp;&nbsp;&nbsp;</label>			      				      	  										
								<input id="inputTextSitemaUrinario" type="text"
									th:field="*{sistemaUrinarioComentario}" class="form-control"
									placeholder="Comentários"/>
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('sistemaUrinarioComentario')}" 
										th:errors="*{sistemaUrinarioComentario}"
									>Error message</label>
								</div>
							</div>							
				        </div>
	
				        <div class="row form-group">
				        	<div class="form-item col-sm-6">
				        		<label class="control-label">Sistema Gastrointestinal</label>			      				      	  										
								<select th:field="*{sistemaGastroIntestinal}" class="form-control">
									<option value="">Selecione:</option>
									<option th:each="t: ${tiposSistemaGastrointestinal}" th:value="${t.tipo}" th:text="${t.tipo}"></option>
								</select>
				        		<div class="error-validation">									
								</div>
				        	</div>				        	
						</div>
						
						<div class="row form-group">
				        	<div class="form-item col-sm-6">
				        		<label class="control-label">Consumo de água</label>
				        		<input id="inputTextAgua" type="number" th:field="*{agua}" 
				        			class="form-control valid-num" min="0" placeholder="0.00"
				        		 />	
				        		<div class="error-validation">
									<label class=" label label-danger" th:if="${#fields.hasErrors('agua')}" th:errors="*{agua}"
									>Error message</label>
								</div>
				        	</div>				        	
			        	</div>
			        	
			        	<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkMastigacao" class="control-label"><input type="checkbox"
										id="checkMastigacao" th:field="*{mastigacao}"
										/> Mastigação:</label>
								<input id="inputTextMastigacao" type="text"
									th:field="*{mastigacaoComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('mastigacaoComentario')}" 
										th:errors="*{mastigacaoComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkDisfagia" class="control-label"><input type="checkbox"
										id="checkDisfagia" th:field="*{disfagia}"
										/> Disfagia:</label>
								<input id="inputTextDisfagia" type="text"
									th:field="*{disfagiaComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('disfagiaComentario')}" 
										th:errors="*{disfagiaComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkOdinofagia" class="control-label"><input type="checkbox"
										id="checkOdinofagia" th:field="*{odinofagia}"
										/> Odinosfagia:</label>
								<input id="inputTextOdinofagia" type="text"
									th:field="*{odinofagiaComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('odinofagiaComentario')}" 
										th:errors="*{odinofagiaComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkPirose" class="control-label"><input type="checkbox"
										id="checkPirose" th:field="*{pirose}"
										/> Pirose:</label>
								<input id="inputTextPirose" type="text"
									th:field="*{piroseComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('piroseComentario')}" 
										th:errors="*{piroseComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkNausea" class="control-label"><input type="checkbox"
										id="checkNausea" th:field="*{nausea}"
										/> Nausea:</label>
								<input id="inputTextNausea" type="text"
									th:field="*{nauseaComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('nauseaComentario')}" 
											th:errors="*{nauseaComentario}"
										>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkVomito" class="control-label"><input type="checkbox"
										id="checkVomito" th:field="*{vomito}"
										/> Vomito:</label>
								<input id="inputTextVomito" type="text"
									th:field="*{vomitoComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('vomitoComentario')}" 
										th:errors="*{vomitoComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkDiarreia" class="control-label"><input type="checkbox"
										id="checkDiarreia" th:field="*{diarreia}"
										/> Diarreia:</label>
								<input id="inputTextDiarreia" type="text"
									th:field="*{diarreiaComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('diarreiaComentario')}" 
										th:errors="*{diarreiaComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkConstipacao" class="control-label"><input type="checkbox"
										id="checkConstipacao" th:field="*{constipacao}"
										/> Constipação:</label>
								<input id="inputTextConstipacao" type="text"
									th:field="*{constipacaoComentario}" class="form-control"
									placeholder="Comentário"									
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('constipacaoComentario')}" 
										th:errors="*{constipacaoComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>							        			    
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			  	<div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
			        Hábitos Alimentares</a>
			      </h4>
			    </div>
			    <div id="collapse4" class="panel-collapse collapse out">
			      <div class="panel-body">
			      		<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkAlergia" class="control-label"><input type="checkbox"
										id="checkAlergia" th:field="*{alergia}"
										/> Constipação:</label>
								<input id="inputTextConstipacao" type="text"
									th:field="*{alergiaComentario}" class="form-control"
									placeholder="Comentário"																
									 />							
								<div class="error-validation">
									<label class="label label-danger" th:if="${#fields.hasErrors('alergiaComentario')}" 
										th:errors="*{alergiaComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>	
						
						<div class="row form-group">
							<div class="form-item col-sm-6">
								<label for="checkIntolerancia" class="control-label"><input type="checkbox"
										id="checkIntolerancia" th:field="*{intolerancia}"
										/> Constipação:</label>
								<input id="inputTextIntolerancia" type="text"
									th:field="*{intoleranciaComentario}" class="form-control"
									placeholder="Comentário"									
									/>							
								<div class="error-validation">
								<label class="label label-danger" th:if="${#fields.hasErrors('intoleranciaComentario')}" 
										th:errors="*{intoleranciaComentario}"
									>Error message</label>
								</div>
							</div>							
						</div>	
						
			      </div>
			    </div>
			  </div>
			</div>		
			<button type="submit" class="btn btn-success">Salvar</button>        
	    </form> 
	</div>   
    <footer th:replace="templates/layoutPadrao :: footer"></footer>
</body>
</html>