<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/material.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/font/material-icons.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/font/roboto.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/dialog-polyfill.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/sinutri.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>

    <title>SiNutri | Entrar</title>
</head>

<body>
	
	<div class="mdl-layout mdl-js-layout">

		<div class="mdl-layout__content">
			
			<div class="sn-index__background"></div>

			<div class="sn-index__paper-layers">
				<div class="sn-index__paper-layer-1 mdl-color--teal-900 sn-hide-right"></div>
				<div class="sn-index__paper-layer-2 mdl-color--teal-700 sn-hide-right"></div>
				<div class="sn-index__paper-layer-3 mdl-color--teal-500 sn-hide-right"></div>
				<div class="sn-index__paper-layer-4 mdl-color--teal-500 sn-hide-left"></div>
				<div class="sn-index__paper-layer-5 mdl-color--teal-300 sn-hide-left"></div>
			</div>

			<div class="sn-index__left">

				<img class="sn-index__left-logo" th:src="@{/img/logo.png}"></img>
			
			</div>

			<div class="sn-index__right">

				<form name='f' th:action="@{/login}" method='POST' accept-charset="UTF-8" role="form" class="sn-hide-fade" id="login-form">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-fill--width">
						<input class="mdl-textfield__input" placeholder="CPF" id="username" type="text" name='username' />
						<label class="mdl-textfield__label" for="username">CPF</label>
					</div>
				
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sn-fill--width">
						<input class="mdl-textfield__input" placeholder="Senha" id="password" type="password" name='password' />
						<label class="mdl-textfield__label" for="password">Senha</label>
					</div>

					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white sn-fill--width">
						Entrar
					</button>

					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-color-text--white sn-left-button">
						Cadastro
					</button>

					<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-color-text--white sn-right-button">
						Recuperar Senha
					</button>
				</form>
			
			</div>

		</div>

	</div>

	<div class="sn-foreground"></div>

	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/material.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sinutri.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>

