<!DOCTYPE html>

<html>
<head>
<title>500 - Erro técnico</title>
</head>
<body>
	
	<div class="container">
		<div class = "error">
		    <div class="col-lg-8 col-lg-offset-2 text-center">
				<div class="logo">
					<h1>500</h1>
				</div>
				<p class="lead text-muted">${message}</p>
				<br> </br> 
				<div class="col-lg-6 col-lg-offset-3">
					<h4>Entre em contato</h4>
					<label>Regis Pires - <strong>regispiresmag@gmail.com</strong></label>
					<label>Rayson Santos - <strong>rayson.ufc@gmail.com</strong></label>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>

