<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	<title>Sinutri | Novo Paciente Externo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/material-date-picker.css}"/>
</head>

<section layout:fragment="conteudo">
	
	<div class="mdl-grid">

		<div class="
			mdl-cell
			mdl-cell--7-col-desktop mdl-cell--1-offset-desktop
			mdl-cell--8-col-tablet
			mdl-cell--4-col-phone
			mdl-grid mdl-grid--no-spacing
			sn-main-card">
	
			<div class="mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--teal">
					
				<div class="mdl-layout-title mdl-color-text--white">
					<div class="mdl-layout-title">Cadastro Paciente Externo</div>
				</div>
				
			</div>
			
		

			<form class="sn-form sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid" th:object="${pessoa}" th:method="post" th:action="@{${'/Paciente/Cadastrar/'}}">
	
				<input type="hidden" id="id" th:field="*{id}"/>
	
				<div class="sn-textfield mdl-cell mdl-cell--12-col">
					<label class="sn-textfield__label" for="nome">Nome</label>
					<input class="sn-textfield__input" type="text" th:field="*{nome}" id="nome" />
				</div>
				
				<div class="sn-selectfield mdl-cell mdl-cell--6-col">
					<label class="sn-selectfield__label" for="sexo">Sexo</label>
					<select class="sn-selectfield__select" th:field="*{sexo}" id="sexo" >
						<option value="">Selecione um sexo</option>							
						<option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo.sexo}"></option>	
	
					</select>
				</div>
					
				<div class="sn-textfield mdl-cell mdl-cell--6-col">
					<label class="sn-textfield__label" for="dataNascimento">Data de Nascimento</label>
					<label class="sn-textfield__messages sn-error-text" th:for="${#ids.next('dataNascimento')}" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Data inválida</label>
					<input class="sn-textfield__input sn-date-picker" th:field="*{dataNascimento}" id="dataNascimento"/>
				</div>
				
				<div class="sn-textfield mdl-cell mdl-cell--12-col">
					<label class="sn-textfield__label" for="cpf">CPF</label>
					<input class="sn-textfield__input" type="text" th:field="*{cpf}" id="cpf" maxlength="255"/>
				</div>
				
				<div class="sn-textfield mdl-cell mdl-cell--6-col">
					<label class="sn-textfield__label" for="telefone">Telefone</label>
					<input class="sn-textfield__input" type="text" th:field="*{telefone}" id="telefone" maxlength="255"/>
				</div>
				
				<div class="sn-textfield mdl-cell mdl-cell--6-col">
					<label class="sn-textfield__label" for="ocupacaoOuCargo">Ocupação/Cargo</label>
					<input class="sn-textfield__input" type="text" th:field="*{ocupacaoOuCargo}" id="ocupacaoOuCargo" maxlength="255"/>
				</div>
				
				<div class="sn-textfield mdl-cell mdl-cell--12-col">
					<label class="sn-textfield__label" for="email">Email</label>
					<input class="sn-textfield__input" type="text" th:field="*{email}" id="email" maxlength="255"/>
				</div>
				
				<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="externo">
					<input type="checkbox" id="externo" class="mdl-checkbox__input" th:field="*{externo}"/>
					<span class="mdl-checkbox__label">Paciente Externo</span>
				</label>
				
				<div class="sn-textfield mdl-cell mdl-cell--12-col hide-by-externo">
					<label class="sn-textfield__label" for="vinculo">Vinculo</label>
					<input class="sn-textfield__input" type="text" th:field="*{vinculo}" id="vinculo" maxlength="255"/>
				</div>
	
				<div class="sn-form-actions">
	
					<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="Cadastrar" />
					<a id="cancelar" th:href="@{${'/Nutricao/Buscar'}}" href="#" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Cancelar</a> 
					
				</div>
	
			</form>
		
		</div>
	
	</div>
	
</section>

<section layout:fragment="js">
				
        <script type="text/javascript" th:src="@{/js/moment.js}"></script>
        <script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.mask.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/paciente-externo-cadastrar.js}"></script>
              
</section>

</html>