<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">
<head>
	<title>Sinutri | Paciente</title>
	
	<style type="text/css">
	
		.sn-card-paciente ul {
			max-height: 320px;
			overflow: auto;
			margin: 0px;
			padding: 0px;

		}

		.sn-card-list-container {
			padding: 48px;
			padding-top: 0px;
		}
	
	</style>
	
</head>

<body>

	<section layout:fragment="title">
		<label class="mdl-layout-title">Visualizar Paciente</label>
	</section>
	
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
			<div class="sn-breadcrumbs-position">
				<a th:href="@{/Nutricao/Buscar}" class="sn-attribute__title sn-breadcrumbs">SiNutri</a>
				<a th:href="@{/Nutricao/Buscar}" class="sn-attribute__title sn-breadcrumbs">Buscar</a>
				<a class="sn-attribute__title sn-breadcrumbs">Paciente</a>
			</div>
			<div  class="mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid sn-main-grid">
				<div class="mdl-cell mdl-cell--12-col sn-card">

                     <div class="mdl-layout-title mdl-color-text--white sn-padding--48 mdl-color--teal" th:text="${paciente.pessoa.nome}"></div>

					<div class="sn-padding--48 mdl-color--white">
						
						<div class="mdl-grid mdl-grid--no-spacing">

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Idade</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.getIdade()}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Sexo</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.sexo}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Telefone</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.telefone}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Email</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.email}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">CPF</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.cpf}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Cargo/Ocupação</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.ocupacaoOuCargo}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Vínculo</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.vinculo}"></div>
							</div>

						</div>
					
					</div>
					
            	</div>
            	
            	<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--red-600">Anamnese</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--red-500">ADICIONAR</a>
						</div>

						<div th:id="anamneses" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="anamnese,iterationStatus : ${paciente.anamneses}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(anamnese.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(anamnese.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-anamnese-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-anamnese-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/'+ anamnese.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/' + anamnese.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/' + anamnese.id + '/Excluir'}}" class="mdl-menu__item bt-excluir-anamnese">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>

					</div>
			
				</div>
				
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--purple-600">Avaliação Antropométrica</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Antropometria'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--purple-500">ADICIONAR</a>
						</div>

						<div th:id="avaliacoesAntropometricas" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="avaliacaoAntropometrica,iterationStatus : ${paciente.avaliacoesAntropometricas}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(avaliacaoAntropometrica.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(avaliacaoAntropometrica.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-avaliacaoAntropometrica-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-avaliacaoAntropometrica-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/Antropometria/'+ avaliacaoAntropometrica.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Antropometria/' + avaliacaoAntropometrica.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Antropometria/' + avaliacaoAntropometrica.id + '/Excluir'}}" class="mdl-menu__item bt-excluir-avaliacao-antropometrica">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--indigo-600">Recordatório</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Recordatorio'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--indigo-500">ADICIONAR</a>
						</div>

						<div th:id="recordatorios" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="recordatorio,iterationStatus : ${paciente.recordatorios}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(recordatorio.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(recordatorio.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-recordatorio-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-recordatorio-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/Recordatorio/'+ recordatorio.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Recordatorio/'+ recordatorio.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Recordatorio/'+ recordatorio.id + '/Excluir'}}" class="mdl-menu__item bt-excluir-recordatorio">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--blue-600">Prescrição</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Prescricao'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--blue-500">ADICIONAR</a>
						</div>

						<div th:id="prescricoes" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="prescricao,iterationStatus : ${paciente.prescricoes}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(prescricao.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(prescricao.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>										
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-prescricao-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-prescricao-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/Prescricao/'+ prescricao.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Prescricao/' + prescricao.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Prescricao/' + prescricao.id + '/Excluir'}}" class="mdl-menu__item  bt-excluir-prescricao">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--green-600">Inquérito Alimentar</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/InqueritoAlimentar'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--green-500">ADICIONAR</a>
						</div>

						<div th:id="inqueritosAlimentares" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="inqueritoAlimentar,iterationStatus : ${paciente.inqueritosAlimentares}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(inqueritoAlimentar.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(inqueritoAlimentar.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-inqueritoAlimentar-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-inqueritoAlimentar-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/InqueritoAlimentar/'+ inqueritoAlimentar.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/InqueritoAlimentar/'+ inqueritoAlimentar.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/InqueritoAlimentar/'+ inqueritoAlimentar.id + '/Excluir'}}" class="mdl-menu__item bt-excluir-inquerito-alimentar">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--orange-600">Avaliação Laboratorial</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/AvaliacaoLaboratorial'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--orange-500">ADICIONAR</a>
						</div>

						<div th:id="avaliacoesLaboratoriais" class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li th:each="avaliacaoLaboratorial,iterationStatus : ${paciente.avaliacoesLaboratoriais}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp" th:attr="data-timestamp=${#dates.format(avaliacaoLaboratorial.criadoEm,'yyyyMMdd')}" th:text="${#dates.format(avaliacaoLaboratorial.criadoEm,'dd/MM/yyyy')}">dd/MM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-avaliacaoLaboratorial-${iterationStatus.index}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-avaliacaoLaboratorial-${iterationStatus.index}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/AvaliacaoLaboratorial/'+ avaliacaoLaboratorial.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/AvaliacaoLaboratorial/'+ avaliacaoLaboratorial.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/AvaliacaoLaboratorial/'+ avaliacaoLaboratorial.id + '/Excluir'}}" class="mdl-menu__item bt-excluir-avaliacao-laboratorial">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<!-- Falta ajustar -->
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--brown-600">Plano Alimentar</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/PlanoAlimentar'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--brown-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text timestamp">dd/MM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-plano-alimentar-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-plano-alimentar-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				
			</div>
            	
        </div>
        	
		<div id="modal-exclusao"></div>

		<div id="modal-exclusao-anamnese" class="sn-display-none">
			Você realmente deseja excluir esta Anamnese?
		</div> 
		
		<div id="modal-exclusao-avaliacao-antropometrica" class="sn-display-none">
			Você realmente deseja excluir esta Avaliação Antropométrica?
		</div>
		
		<div id="modal-exclusao-recordatorio" class="sn-display-none">
			Você realmente deseja excluir este Recordatório?
		</div>
		
		<div id="modal-exclusao-prescricao" class="sn-display-none">
			Você realmente deseja excluir este Prescrição?
		</div>
		
		<div id="modal-exclusao-inquerito-alimentar" class="sn-display-none">
			Você realmente deseja excluir este Inquérito Alimentar?
		</div>  
		
		<div id="modal-exclusao-avaliacao-laboratorial" class="sn-display-none">
			Você realmente deseja excluir esta Avaliação Laboratorial?
		</div>
		
		<div id="modal-exclusao-plano-alimentar" class="sn-display-none">
			Você realmente deseja excluir este Plano Alimentar?
		</div>  
        
	</section>	
	
	<section layout:fragment="js">
		<script type="text/javascript" th:src="@{/js/anamnese/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/antropometria/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/recordatorio/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/prescricao/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/inquerito-alimentar/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/avaliacao-laboratorial/visualizar.js}"></script>
		<script type="text/javascript" th:src="@{/js/list.js}"></script>

		<script type="text/javascript">
		
			var options = {
					valueNames: ['criadoEm',
					  { attr: 'data-timestamp', name: 'timestamp' }]
					};
	
			var anamnese = new List('anamneses', options).sort('timestamp', { order: "desc" });
 			var avaliacaoAntropometrica = new List('avaliacoesAntropometricas', options).sort('timestamp', { order: "desc" });
 //			var recordatorio = new List('recordatorios', options).sort('timestamp', { order: "desc" });
 			var prescricao = new List('prescricoes', options).sort('timestamp', { order: "desc" });
 			var inqueritoAlimentar = new List('inqueritosAlimentares', options).sort('timestamp', { order: "desc" });
 			var avaliacaoLaboratorial = new List('avaliacoesLaboratoriais', options).sort('timestamp', { order: "desc" });
 			var planoAlimentar = new List('planosAlimentares', options).sort('timestamp', { order: "desc" });
			
		
		
		</script>

   </section>
   
</body>
</html>
