<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">
<head>
	<title>Sinutri | Paciente</title>
	
</head>

<body>
	<section layout:fragment="conteudo">
	
		<div class="mdl-grid">
			
			<div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid sn-main-grid">
	
            	<div class="mdl-cell mdl-cell--12-col sn-card">

                     <div class="mdl-layout-title mdl-color-text--white sn-padding--48 mdl-color--teal">Paciente</div>

					<div class="sn-padding--48 mdl-color--white">
						
						<div class="mdl-grid mdl-grid--no-spacing">
										
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Nome</div>
						        <div class="sn-attribute__value" th:text="${paciente.pessoa.nome}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Idade</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.getIdade()}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Sexo</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.sexo}"></div>
							</div>

							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Telefone</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.telefone}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Email</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.email}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">CPF</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.cpf}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Cargo/Ocupação</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.ocupacaoOuCargo}"></div>
							</div>
							
							<div class="sn-attribute mdl-cell mdl-cell--4-col">
						        <div class="sn-attribute__title">Vínculo</div>
								<div class="sn-attribute__value" th:text="${paciente.pessoa.vinculo}"></div>
							</div>

						</div>
					
					</div>
					
            	</div>
            	
            	<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--red-600">Anamnese</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--red-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li th:each="anamnese,iterationStatus : ${paciente.anamneses}" class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text" th:text="${#dates.format(anamnese.criadoEm,'dd/MM/yyyy')}">dd/MMM/yyyy</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button th:id="|sn-anamnese-${iterationStatus}|" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" th:attr="for=|sn-anamnese-${iterationStatus}|">
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/'+ anamnese.id }}" class="mdl-menu__item">Visualizar</a>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/' + anamnese.id + '/Editar'}}" class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a th:href="@{${'/Paciente/' + paciente.id + '/Anamnese/' + anamnese.id + '/Excluir'}}" class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--purple-600">Avaliação Antropométrica</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Antropometria'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--purple-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-antropometria-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-antropometria-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--indigo-600">Recordatório</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Recordatorio'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--indigo-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-recordatorio-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-recordatorio-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--blue-600">Prescrição</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Prescricao'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--blue-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-prescricao-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-prescricao-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--green-600">Inquérito</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/Inquerito'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--green-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-inquerito-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-inquerito-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--yellow-600">Avaliação Laboratorial</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/AvaliacaoLaboratorial'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--yellow-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-avaliacao-laboratorial-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-avaliacao-laboratorial-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
				
				<div class="sn-card-paciente mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone sn-card ">

					<div class="mdl-grid mdl-grid--no-spacing">

						<div class="mdl-cell mdl-cell--12-col sn-padding--48">
							<div class="sn-card-title mdl-layout-title sn-display--inline mdl-color-text--brown-600">Plano Alimentar</div>
							<a th:href="@{${'/Paciente/' + paciente.id + '/PlanoAlimentar'}}" class="sn-card-add mdl-button mdl-button--raised mdl-js-button mdl-color-text--white mdl-js-ripple-effect sn-float--right mdl-color--brown-500">ADICIONAR</a>
						</div>

						<div class="sn-card-list-container mdl-cell mdl-cell--12-col">
							<ul class="sn-card-list mdl-list">
								<li class="sn-card-list__item mdl-list__item mdl-list__item--one-line mdl-color--grey-200">
									<span class="mdl-list__item-primary-content">
										<span class="sn-card-list__item-text">12/12/2012</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<button id="sn-plano-alimentar-0" class="mdl-button mdl-js-button mdl-button--icon">
											<i class="material-icons">more_vert</i>
										</button>
										<div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="sn-plano-alimentar-0">
											<a class="mdl-menu__item">Visualizar</a>
											<a class="mdl-menu__item">Editar</a>
											<div class="mdl-menu__item--full-bleed-divider"></div>
											<a class="mdl-menu__item">Excluir</a>
										</div>
									</span>

								</li>
							</ul>
						</div>
					</div>

				</div>
					
			</div>
            	
        </div>
        
	</section>	
	
	<section layout:fragment="js">
		
		<script type="text/javascript" th:src="@{/js/paciente-externo-cadastrar.js}"></script>
		     
   </section>
   
</body>
</html>