#btnAdicionarRefeicaoDialog 
{
	position: absolute;
	right: -20px;
	top: 5px;
}

#btnAdicionarRecordatorio {
	margin: 16px;
	float: right;
	margin-top: 100px;
}

#formAdicionarRecordatorio
{
	position: relative;
	padding-top: 48px;
	padding-bottom: 48px;
	overflow: visible;
}

table
{
	width: 100%;
	box-shadow: none !important;
}
