:root {
	
	--color-primary: #009688;
	--color-primary-dark: #00796B;
	--color-primary-contrast: #fff;
	--color-primary-hover: #4DB6AC;
	--color-primary-active: #B2DFDB;
	
	--color-accent: #FF5722;
	--color-accent-contrast: #fff;
	--color-accent-hover: #FF8A65;
	--color-accent-active: #FFCCBC;
	
	/* blue-grey */
	--color-default--500: #90A4AE;
	--color-default--700: #607D8B;
	--color-default--900: #455A64;
	
	/* blue-grey */
	--color-primary--500: #607D8B;
	--color-primary--700: #455A64;
	--color-primary--900: #263238;
	
	/* teal */
	--color-success--500: #009688;
	--color-success--700: #00796B;
	--color-success--900: #004D40;
	
	/* blue */
	--color-info--500: #2196F3;
	--color-info--700: #1976D2;
	--color-info--900: #0D47A1;
	
	/* deep-orange */
	--color-warning--500: #FF5722;
	--color-warning--700: #E64A19;
	--color-warning--900: #BF360C;
	
	/* red */
	--color-danger--500: #F44336;
	--color-danger--700: #D32F2F;
	--color-danger--900: #B71C1C;

	--shadow--2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	--animation: all 0.2s ease;
	--animation--2s: all 0.2s ease;
	--animation--3s: all 0.3s ease;
	--animation--4s: all 0.4s ease;
	--animation--5s: all 0.5s ease;
	--animation--6s: all 0.6s ease;
	--animation--7s: all 0.7s ease;
	--animation--8s: all 0.8s ease;
	--animation--9s: all 0.9s ease;
	--animation--10s: all 1s ease;

	--animation--bounce: all 0.2s ease;

}

/* Layout Base */

::selection,
::-moz-selection {
  background: var(--color-accent);
}

.sn-no-animation {

	-webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}

.sn-container {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

.sn-drawer-left {

	position: absolute;
	background-color: #fff;
	float: left;
	width: 240px;
	top: 0;
	left: 0;
	height: 100%;
	box-shadow: var(--shadow--2dp);
	z-index: 2000;

	overflow-y: auto; 
	
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);

}

.sn-drawer-left-closed {

	left: -250px;

}

.sn-main {

	position: absolute;
	top: 0;
	bottom: 0;
	left: 240px;
	right: 0;

    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);

}


@media (max-width: 768px) {
	
	.sn-main {

		left: 0px;
		
	}

}

.sn-main-expanded {

	left: 0;

}

.sn-foreground {

	background-color: var(--color-primary-contrast);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3000;
	
}

@media (max-width: 768px) {

	.sn-main__foreground {

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.3);
		
	}

	.sn-main__foreground-hidden {

		display: none;
		
	}

}


.sn-header-image__background {

	background-repeat: no-repeat !important;
    background-size: 100% auto !important;

}


.sn-rear-track {

	width: 100%;
	height: 72px;
	background-color: var(--color-primary);
	position: absolute;

}

/* Componentes */

.sn-btn-hanburger {

	position: absolute;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin: 8px;
	padding: 12px;
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	background-color: transparent;
	overflow: hidden;
	z-index: 1000;

}

@media screen and (max-width: 1024px) {

	.sn-btn-hanburger {

		width: 36px;
		height: 36px;
		margin: 10px;
		margin-left: 14px;
		margin-right: 14px;
		padding: 6px;

	}

}

.sn-btn-hanburger-inverse {

	color: var(--color-primary-dark);

}

.sn-btn-hanburger-hidden {

	display: none;

}

.sn-btn-hanburger:hover {

	background-color: rgba(0, 0, 0, 0.1);

}

.sn-btn-hanburger:active {

	background-color: rgba(0, 0, 0, 0.3);

}

.sn-btn-hanburger i {

	color: inherit;

}


.sn-form {
	display: flex;
}

.sn-form-actions {
	align-items: flex-end; 
	width: 100%;
	margin: 8px;
}

.sn-form-actions > * {
	float: right;
	margin-left: 16px;
}

.sn-form__hdivider {
	width: 100%;
	height: 1px;
	background-color: #ddd;
	margin-top: 8px;
	margin-bottom: 8px;
}

.sn-is-focused {
	color: var(--color-primary);
}

.sn-textfield { 
	padding-bottom: 16px;
}

.sn-selectfield { 
	padding-bottom: 16px;
}

.sn-selectfield option { 

	padding: 16px;

}

.sn-textfield__input, .sn-selectfield__select {

	width: calc(100% - 16px);
	font-size: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	
	background-color: #fff;

	border: none;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #ddd;
	outline: none !important;

}

.sn-textfield__input:focus, .sn-selectfield__select:focus {

	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
	border-bottom-radius: 2px !important;
	border-bottom-color: var(--color-primary);

}

.sn-selectfield__select {
	height: 32px;
	width: 100%;
}

.sn-textfield__label, .sn-selectfield__label {

	font-weight: bold;
	color: var(--color-primary-dark);

}

.sn-textfield__messages {



}

.sn-textfield__input-error {
	border-bottom-color: var(--color-danger--500) !important;
	color: var(--color-danger--500) !important;
}


.sn-success {

	background-color: var(--color-success--500);
	
}

.sn-success-text {

	color: var(--color-success--500);
	
}

.sn-info {
	
	background-color: var(--color-info--500);
	
}

.sn-info-text {
	
	color: var(--color-info--500);
	
}

.sn-warning {
	
	background-color: var(--color-warning--500);
	
}

.sn-warning-text {
	
	color: var(--color-warning--500);
	
}

.sn-error {
	
	background-color: var(--color-danger--500);
	
}

.sn-error-text {
	
	color: var(--color-danger--500);
	
}


.sn-main-card .sn-card {
	margin-bottom: 16px !important;
}

.sn-card {
	
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	position: relative;
	
}

.sn-card__actions {

	width: 100%;
	padding-top: 16px;

}

.sn-rounded-card {

	margin-top: 72px;

}

.sn-rounded-card__circle {

	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	height: 240px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: var(--shadow--2dp);
	display: flex;
    align-items: center;
    clear: both;

}

.sn-rounded-card__icon {

	font-size: 96px;
	margin-left: auto;
	margin-right: auto;

}

.sn-rounded-card__message {
	padding: 26px;
	text-align: center;
	font-size: 24px;
	color: #888;
}

.sn-attribute__title {
	font-family: "roboto";
	font-size: 16px;
	font-weight: bold;
	color: var(--color-primary-dark) !important;
	margin-bottom: 6px;
}

.sn-attribute__value {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 16px;
}

fabgroup {
	position: absolute;
}

fabgroup > * {
	margin-right: 6px !important;
	margin-left: 6px !important;
	-webkit-transition: var(--animation--bounce) !important;
    -moz-transition: var(--animation--bounce) !important;
    -o-transition: var(--animation--bounce) !important;
    transition: var(--animation--bounce) !important;
}

.sn-fab--bottom-right {
	position: absolute;
	right: 26px;
	bottom: -26px;
	z-index: 1000;
}

.sn-fab--top-right {
	position: absolute;
	right: 26px;
	top: -26px;
	z-index: 1000;
}

.sn-float--left {
	float: left;
}

.sn-float--right {
	float: right;
}

.sn-fab {
	z-index: 1000;
}

.sn-fab--hide {
	-ms-transform: translate(200%, 0px) !important; /* IE 9 */
    -webkit-transform: translate(200%, 0px) !important; /* Safari */
    transform: translate(200%, 0px) !important;
    margin: 0px !important;
    width: 0 !important;
    min-width: 0 !important;
    height: 0 !important;
    min-height: 0 !important;
}

.sn-float--launcher {
	z-index: 1001;
}

.sn-toast {

	position: fixed;
	bottom: 0;
	left: 50%;
	cursor: default;
	z-index: 3;

	align-items: center;
	display:         flex;
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	        flex-flow: column;
	-webkit-flex-flow: column;
	   -moz-flex-flow: column;
	    -ms-flex-flow: column;
	     -o-flex-flow: column;

	font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

.sn-toast__message {

	position: relative;

	        flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	   -moz-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	     -o-flex: 1 1 auto;
	     

	     align-items: center;
			display:         flex;
			display: -webkit-flex;
			display:    -moz-flex;
			display:     -ms-flex;
			display:      -o-flex;

	    background-color: #fff;
		box-shadow: var(--shadow--2dp);
		margin: 8px;
}

.sn-toast__icon {
	margin: 16px;
	border-radius: 50%;
}

.sn-toast__icon:hover {
	background-color: #ddd;
}

.sn-toast__icon:active {
	background-color: #aaa;
}


@media (max-width: 479px) {

    .sn-toast {

		width: 100%;
		left: 0;
		min-height: 48px;
	}

}

@media (min-width: 480px) {

    .sn-toast {
		min-width: 288px;
		max-width: 568px;
		border-radius: 2px;
		-webkit-transform: translate(-50%, 0px);
		      transform: translate(-50%, 0px);

    } 

}

.sn-toast__text {

	padding: 16px;
	vertical-align: middle;
	text-align: justify;
	color: #000;
	float: left;

}

.sn-toast__action {

	background: transparent;
	border: none;
	color: rgb(255,64,129);
	float: right;
	text-transform: uppercase;
	padding: 14px 24px 14px 12px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0;
	overflow: hidden;
	outline: none;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;

}

.sn-toast__action::-moz-focus-inner {
	border: 0;
}

.sn-toast__action:not([aria-hidden]) {
	opacity: 1;
	pointer-events: auto;
}

.sn-toast__loading {

	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	height: 1px;

}

.sn-input-tip {

	position: absolute;
	box-shadow: var(--shadow--2dp);
	background-color: #00BCD4;
	padding: 8px;
	color: #fff;
	z-index: 10000;  

}

.sn-padding--16 { padding: 16px; }

.sn-padding--24 { padding: 24px; }

.sn-padding--48 { padding: 48px; }

.sn-padding--72 { padding: 72px; }

.sn-padding--96 { padding: 96px; }

.sn-padding--none { padding: 0 !important; }


.sn-clear--left { clear: left; }

.sn-clear--right { clear: right; }

.sn-clear--both { clear: both; }


.sn-display--block { display: block !important; }

.sn-display--inline-block { display: inline-block !important; }

.sn-display--inline { display: inline-block !important; }

.sn-display--flex { display: flex !important; }

.sn-align-items--center { align-items: center; }


.sn-fill { width: 100%; height: 100%; }

.sn-fill--width { width: 100%; }

.sn-fill--height { height: 100%; }



/* mdl override */

.mdl-list__item {
	overflow: visible;
}

.mdl-snackbar {

	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	border-right: solid;
	border-right-width: 8px;
	
}

.mdl-snackbar > i {
	height: 100%;
}

.mdl-snackbar__text {
	color: var(--color-primary-dark);
}

table {

	border: none !important;

}

.mdl-layout-title {
	line-height: 32px;
	font-size: 24px;
}

.mdl-dialog__title {
	font-size: 24px;
}

.mdl-ripple {
	background-color: #fff !important;
}

.mdl-navigation__link {

	position: relative;
	overflow: hidden;
	cursor: pointer;

}

.sn-drawer-left .mdl-list .active * {

	color: var(--color-accent);

}

.sn-drawer-left .mdl-list > a {

	text-decoration: none !important;

}

.sn-drawer-left .mdl-list {

	padding-left: 5px;

}

@media screen and (min-width: 1024px) {

	.sn-drawer-left .mdl-list i {

		margin-right: 36px !important;

	}

}

@media screen and (max-width: 1024px) {

	.sn-drawer-left .mdl-list i {

		margin-right: 28px !important;

	}

}

.mdl-menu a {

	text-decoration: none;
	color: #000;

}


/* jquery override */

.ui-datepicker {
	display: none;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	min-height: 240px;
	position: relative;
}

.ui-datepicker a {
	color: var(--color-primary)
}

.ui-datepicker-header {
	background-color: var(--color-primary);
}

.ui-datepicker-header a {
	
	padding: 8px;	
	cursor: pointer;
	display: inline-block;
	color: var(--color-primary-contrast);
	
}

.ui-datepicker-title {
	
	display: inline-block;
	float: right;
	padding: 8px;
	
}

.ui-datepicker-title span {
	color: #fff;
}

.ui-datepicker-header a:hover {
	
	background-color: var(--color-primary-dark);	
	
}

.ui-datepicker-calendar {
	padding: 24px;
	background-color: #fff;
}

.ui-datepicker-calendar a {
	
	padding: 8px;
	text-decoration: none;
	text-align: center;
	margin: auto;
	
}

.ui-datepicker-calendar td {
	
	text-align: center;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	
}

.ui-datepicker-calendar td:hover {
	
	background-color: #ddd;
	
}

.ui-datepicker-calendar .ui-state-highlight {
	color:  var(--color-accent);
}

/* quebrar palavras grandes */
body{
	word-wrap: break-word;
}
