<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
	<meta charset="UTF-8" />

	<link th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap-fileinput/4.2.6/css/fileinput.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/bootstrap-flatly.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/sinutri.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-static navbar-inverse" th:fragment="menu">
		<div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
			      <span class="sr-only">SiNutri</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" th:href="@{/nutricao/buscar}">
			    	<img th:src="@{/resources/images/logo-sinutri.png}" alt="SiNutri" class="logo-sinutri" />
			    </a>
			</div>
	
	      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">  
	           		<li id="menu-paciente"><a th:href="@{/nutricao/buscar}"><span class="glyphicon glyphicon-search"></span> Paciente<span class="sr-only">(current)</span></a></li>
	           		<li id="menu-graficos"><a th:href="@{/nutricao/informacoes-graficas}"><span class="glyphicon glyphicon-stats"></span> Gráfico<span class="sr-only">(current)</span></a></li>
	           		<li id="menu-cadastro"><a th:href="@{/paciente/cadastrar/paciente}"><span class="glyphicon glyphicon-plus"></span> Cadastrar Paciente<span class="sr-only">(current)</span></a></li>
				</ul>
	
				<ul class="nav navbar-right navbar-nav">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/j_spring_security_logout}"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
			      			<li class="divider"></li>
							<li><a th:href="@{/nutricao/sobre}"><i class="glyphicon glyphicon-info-sign"></i> Sobre</a></li>
						</ul>
					</li>  
				</ul>
	      </div>
    	</div>
  	</nav>

    <footer th:fragment="footer">
		<script th:src="@{/webjars/jquery/2.1.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
		<script	th:src="@{/webjars/jquery-ui/1.11.1/jquery-ui.min.js}"></script>
		<script th:src="@{/webjars/jquery-maskedinput/1.3.1/jquery.maskedinput.min.js}"></script> 
		<script th:src="@{/webjars/jquery-validation/1.12.0/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/bootstrapValidator.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
		<script th:src="@{/resources/js/highcharts.js}"></script>
		<script th:src="@{/webjars/d3js/3.5.6/d3.min.js}"></script>
		<script th:src="@{/webjars/d3-tip/0.6.6/index.js}"></script>
		<script	th:src="@{/resources/js/jquery.appendGrid-1.5.2.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/4.2.6/js/fileinput.min.js}"></script>
		<script	th:src="@{/webjars/bootstrap-fileinput/4.2.6/js/fileinput_locale_pt-BR.js}"></script>
		<script th:src="@{/resources/js/fileinput_locale_pt-BR.js}"></script>
		<script th:src="@{/resources/js/funcoes.js}"></script>
    </footer>
</body>
</html>
