<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/layoutPadrao :: head"></head>
<body>
    <nav th:replace="templates/layoutPadrao :: menu"></nav>
    <footer th:replace="templates/layoutPadrao :: footer"></footer>
    
    <form action="#" th:object="${prescricao}" th:action="@{/paciente/1/Prescricao/2/Editar/}" method="post"> 
    	
    	<input type="hidden" id="idPrescricao" th:field="*{idPrescricao}"/>
    	
    	<div class="row form-group">
    		<div class="form-item col-sm-6">
    			<label class="control-label"> Descricao </label>
    			<input id="inputTextDescricao" type="text" th:field="*{descricao}" value="*{descricao}" class="form-control"/> 
    		</div>
    	</div>
    	
    	<div class="row form-group">
    		<div class="form-item col-sm-6">
    			<label class="control-label"> Texto </label> 
    			<textarea id="inputTextTexto" th:field="*{texto}"  rows="6" name="*{texto}" 
    				class="form-control"></textarea> 
    		</div> 
    	</div>
    	
    	<input type="submit" value="Editar" class="btn btn-success"/>   
    </form>
</body>
</html>