<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/layoutPadrao :: head"></head>
<body>
    <nav th:replace="templates/layoutPadrao :: menu"></nav>
    <footer th:replace="templates/layoutPadrao :: footer"></footer>
    
    <form action="#" th:object="${prescricao}" th:action="@{/paciente/1/Prescricao/2/Editar/}" method="post"> 
    	<input type="hidden" id="idPrescricao" th:field="*{idPrescricao}"/>
    	Descricao: <input type="text" th:field="*{descricao}" value="*{descricao}" />
    	Texto: <input type="text" th:field="*{texto}" value="*{texto}" />
    	<input type="submit" value="Adicionar"/>   
    </form>
</body>
</html>