<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

	<head>
		<title>Sinutri | Cadastro Inquérito Alimentar</title>
	</head>
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--1-offset-desktop sn-card sn-padding--48">
				<form class="sn-form" action="#" th:object="${inqueritoAlimentar}" th:method="post" th:action="@{${'/Paciente/'+ inqueritoAlimentar.paciente.id +'/InqueritoAlimentar/'}}">
					<div class="mdl-grid">
						
						<div class="sn-textfield mdl-cell mdl-cell--8-col">
							<div class="mdl-layout-title">Cadastrar Inquérito Alimentar</div>
						</div>
						
						<input type="hidden" id="id" th:field="*{id}"/>
							
						<div class="sn-textfield mdl-cell mdl-cell--6-col">
							<label class="sn-textfield__label" for="criadoEm">Data de criação</label>
							<input class="sn-textfield__input sn-date-picker sn-mask-date" th:field="*{criadoEm}" type="text" id="criadoEm" />
						</div>
				
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkAguaGosta">
							<input type="checkbox" id="checkAguaGosta"  class="mdl-checkbox__input" th:field="*{aguaGosta}"/>
							<span class="mdl-checkbox__label">Gosta de água</span>
						</label>
						
						<div class="sn-selectfield mdl-cell mdl-cell--6-col">
							<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
							<select class="sn-selectfield__select" th:field="*{aguaFrequenciaSemanal}">
								<option value="">Escolha uma opção</option>
								<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
							</select>
						</div>
						<div class="sn-textfield mdl-cell mdl-cell--6-col">
							<label class="sn-textfield__label" for="anotacaoAgua">Anotação</label>
							<input class="sn-textfield__input" type="text" id="anotacaoAgua" th:field="*{aguaAnotacao}" />
						</div>
						
						<div class="sn-textfield mdl-cell mdl-cell--12-col">
							<label class="sn-textfield__label" for="observacoes">Observações</label>
							<textarea class="sn-textfield__input" type="text" rows= "3" id="observacoes" th:field="*{observacoes}"></textarea>
						</div>
						<div class="sn-form-actions">
							<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="Cadastrar" />
							<input type="button" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect" value="Cancelar"/>
						</div>
					</div>
				</form>
			</div>
			<div class="mdl-cell mdl-cell--3-col-desktop">
				<div class="sn-card sn-padding--48">
					<div class="mdl-layout-title">Informações</div>
				</div>
			</div>
		</div>
	</section>
</html>
