<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

	<head>
		<title>Sinutri | Cadastro Inquérito Alimentar</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/material-date-picker.css}"/>
	</head>
	<section layout:fragment="breadcrumbs">
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">SiNutri</a>
		<a th:href="@{/Nutricao/Buscar}" class="sn-breadcrumbs mdl-layout-title">Buscar</a>
		<a th:href="@{${'/Paciente/'+inqueritoAlimentar.paciente.id}}" class="sn-breadcrumbs mdl-layout-title">Paciente</a>
		<a class="mdl-layout-title sn-breadcrumbs">Cadastrar Inquérito Alimentar</a>
	</section>
	<section layout:fragment="conteudo">
		<div class="mdl-grid">
				<form id="form-inquerito" class="sn-form mdl-cell mdl-cell--7-col-desktop mdl-cell--1-offset-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-grid mdl-grid--no-spacing sn-main-card" action="#" th:object="${inqueritoAlimentar}" th:method="post" th:action="@{${'/Paciente/'+ inqueritoAlimentar.paciente.id +'/InqueritoAlimentar/'}}">
						<div class="mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--teal">
                			<div class="mdl-layout-title mdl-color-text--white">Cadastrar Inquérito Alimentar</div>
        				</div>
						
						<input type="hidden" id="id" th:field="*{id}"/>
						<input type="hidden" th:field="*{atualizadoEm}" />
                    	<input type="hidden" th:field="*{paciente.id}" />
                    	<input type="hidden" th:field="*{nutricionista.id}" />
						<div class="sn-card-top mdl-cell mdl-cell--12-col sn-card sn-padding--48 mdl-color--white mdl-grid">			
							<div class="sn-textfield mdl-cell mdl-cell--6-col">
								<label class="sn-textfield__label" for="criadoEm">Data de criação</label>
								<label class="sn-textfield__messages sn-error-text" for="criadoEm" th:if="${#fields.hasErrors('criadoEm')}" th:errors="*{criadoEm}">Title error message</label>
								<input class="sn-textfield__input sn-date-picker" th:field="*{criadoEm}" type="text" id="criadoEm" />
							</div>
							<div class="mdl-cell mdl-cell--12-col">
                				<div class="mdl-layout-title">Gosta de:</div>
        					</div>
        					
							<div class = "mdl-grid mdl-cell mdl-cell--12-col">
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkAguaGosta">
									<input type="checkbox" id="checkAguaGosta"  class="mdl-checkbox__input" th:field="*{aguaGosta}"/>
									<span class="mdl-checkbox__label">Água</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectAguaGosta" class="sn-selectfield__select" th:field="*{aguaFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoAgua">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoAgua" th:if="${#fields.hasErrors('aguaAnotacao')}" th:errors="*{aguaAnotacao}">Title error message</label>
									<input id="inputTextAguaGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{aguaAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkAvesGosta">
									<input type="checkbox" id="checkAvesGosta"  class="mdl-checkbox__input" th:field="*{avesGosta}"/>
									<span class="mdl-checkbox__label">Aves</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectAvesGosta" class="sn-selectfield__select" th:field="*{avesFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoAves">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoAves" th:if="${#fields.hasErrors('avesAnotacao')}" th:errors="*{avesAnotacao}">Title error message</label>
									<input id="inputTextAvesGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{avesAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkBebidasAlcoolicasGosta">
									<input type="checkbox" id="checkBebidasAlcoolicasGosta"  class="mdl-checkbox__input" th:field="*{bebidasAlcoolicasGosta}"/>
									<span class="mdl-checkbox__label">Bebidas alcoólicas</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectBebidasAlcoolicasGosta" class="sn-selectfield__select" th:field="*{bebidasAlcoolicasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoBebidasAlcoolicas">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoBebidasAlcoolicas" th:if="${#fields.hasErrors('bebidasAlcoolicasAnotacao')}" th:errors="*{bebidasAlcoolicasAnotacao}">Title error message</label>
									<input id="inputTextBebidasAlcoolicasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{bebidasAlcoolicasAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkBovinaGosta">
									<input type="checkbox" id="checkBovinaGosta"  class="mdl-checkbox__input" th:field="*{bovinaGosta}"/>
									<span class="mdl-checkbox__label">Carne Bovina</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectBovinaGosta" class="sn-selectfield__select" th:field="*{bovinaFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoBovina">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoBovina" th:if="${#fields.hasErrors('bovinaAnotacao')}" th:errors="*{bovinaAnotacao}">Title error message</label>
									<input id="inputTextBovinaGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{bovinaAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkCereaisGosta">
									<input type="checkbox" id="checkCereaisGosta"  class="mdl-checkbox__input" th:field="*{cereaisGosta}"/>
									<span class="mdl-checkbox__label">Cereais</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectCereaisGosta" class="sn-selectfield__select" th:field="*{cereaisFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoCereais">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoCereais" th:if="${#fields.hasErrors('cereaisAnotacao')}" th:errors="*{cereaisAnotacao}">Title error message</label>
									<input id="inputTextCereaisGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{cereaisAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkDocesGosta">
									<input type="checkbox" id="checkDocesGosta"  class="mdl-checkbox__input" th:field="*{docesGosta}"/>
									<span class="mdl-checkbox__label">Doces</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectDocesGosta" class="sn-selectfield__select" th:field="*{docesFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoDoces">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoDoces" th:if="${#fields.hasErrors('docesAnotacao')}" th:errors="*{docesAnotacao}">Title error message</label>
									<input id="inputTextDocesGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{docesAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkFrutasGosta">
									<input type="checkbox" id="checkFrutasGosta"  class="mdl-checkbox__input" th:field="*{frutasGosta}"/>
									<span class="mdl-checkbox__label">Frutas</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectFrutasGosta" class="sn-selectfield__select" th:field="*{frutasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoFrutas">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoFrutas" th:if="${#fields.hasErrors('frutasAnotacao')}" th:errors="*{frutasAnotacao}">Title error message</label>
									<input id="inputTextFrutasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{frutasAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkGaseificadasGosta">
									<input type="checkbox" id="checkGaseificadasGosta"  class="mdl-checkbox__input" th:field="*{gaseificadasGosta}"/>
									<span class="mdl-checkbox__label">Gaseificadas</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectGaseificadasGosta" class="sn-selectfield__select" th:field="*{gaseificadasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoGaseificadas">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoGaseificadas" th:if="${#fields.hasErrors('gaseificadasAnotacao')}" th:errors="*{gaseificadasAnotacao}">Title error message</label>
									<input id="inputTextGaseificadasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{gaseificadasAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkInfusoesGosta">
									<input type="checkbox" id="checkInfusoesGosta"  class="mdl-checkbox__input" th:field="*{infusoesGosta}"/>
									<span class="mdl-checkbox__label">Infusões</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectInfusoesGosta" class="sn-selectfield__select" th:field="*{infusoesFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoInfusoes">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoInfusoes" th:if="${#fields.hasErrors('infusoesAnotacao')}" th:errors="*{infusoesAnotacao}">Title error message</label>
									<input id="inputTextInfusoesGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{infusoesAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkLeguminosasGosta">
									<input type="checkbox" id="checkLeguminosasGosta"  class="mdl-checkbox__input" th:field="*{leguminosasGosta}"/>
									<span class="mdl-checkbox__label">Leguminosas</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectLeguminosasGosta" class="sn-selectfield__select" th:field="*{leguminosasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoLeguminosas">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoLeguminosas" th:if="${#fields.hasErrors('leguminosasAnotacao')}" th:errors="*{leguminosasAnotacao}">Title error message</label>
									<input id="inputTextLeguminosasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{leguminosasAnotacao}" />
								</div>
							
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkLeiteDerivadosGosta">
									<input type="checkbox" id="checkLeiteDerivadosGosta"  class="mdl-checkbox__input" th:field="*{leiteDerivadosGosta}"/>
									<span class="mdl-checkbox__label">Leite ou derivados</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectLeiteDerivadosGosta" class="sn-selectfield__select" th:field="*{leiteDerivadosFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoLeiteDerivados">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoLeiteDerivados" th:if="${#fields.hasErrors('leiteDerivadosAnotacao')}" th:errors="*{leiteDerivadosAnotacao}">Title error message</label>
									<input id="inputTextLeiteDerivadosGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{leiteDerivadosAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkManteigaGosta">
									<input type="checkbox" id="checkManteigaGosta"  class="mdl-checkbox__input" th:field="*{manteigaGosta}"/>
									<span class="mdl-checkbox__label">Manteiga</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectManteigaGosta" class="sn-selectfield__select" th:field="*{manteigaFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoManteiga">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoManteiga" th:if="${#fields.hasErrors('manteigaAnotacao')}" th:errors="*{manteigaAnotacao}">Title error message</label>
									<input id="inputTextManteigaGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{manteigaAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkMargarinaGosta">
									<input type="checkbox" id="checkMargarinaGosta"  class="mdl-checkbox__input" th:field="*{margarinaGosta}"/>
									<span class="mdl-checkbox__label">Margarina</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectMargarinaGosta" class="sn-selectfield__select" th:field="*{margarinaFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoMargarina">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoMargarina" th:if="${#fields.hasErrors('margarinaAnotacao')}" th:errors="*{margarinaAnotacao}">Title error message</label>
									<input id="inputTextMargarinaGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{margarinaAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkMassasGosta">
									<input type="checkbox" id="checkMassasGosta"  class="mdl-checkbox__input" th:field="*{massasGosta}"/>
									<span class="mdl-checkbox__label">Massas</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectMassasGosta" class="sn-selectfield__select" th:field="*{massasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoMassas">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoMassas" th:if="${#fields.hasErrors('massasAnotacao')}" th:errors="*{massasAnotacao}">Title error message</label>
									<input id="inputTextMassasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{massasAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkOleoGosta">
									<input type="checkbox" id="checkOleoGosta"  class="mdl-checkbox__input" th:field="*{oleoGosta}"/>
									<span class="mdl-checkbox__label">Óleo</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectOleoGosta" class="sn-selectfield__select" th:field="*{oleoFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoOleo">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoOleo" th:if="${#fields.hasErrors('oleoAnotacao')}" th:errors="*{oleoAnotacao}">Title error message</label>
									<input id="inputTextOleoGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{oleoAnotacao}" />
								</div>
							
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkOvosGosta">
									<input type="checkbox" id="checkOvosGosta"  class="mdl-checkbox__input" th:field="*{ovosGosta}"/>
									<span class="mdl-checkbox__label">Ovos</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectOvosGosta" class="sn-selectfield__select" th:field="*{ovosFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoOvos">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoOvos" th:if="${#fields.hasErrors('ovosAnotacao')}" th:errors="*{ovosAnotacao}">Title error message</label>
									<input id="inputTextOvosGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{ovosAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkPeixeGosta">
									<input type="checkbox" id="checkPeixeGosta"  class="mdl-checkbox__input" th:field="*{peixeGosta}"/>
									<span class="mdl-checkbox__label">Peixe</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectPeixeGosta" class="sn-selectfield__select" th:field="*{peixeFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoPeixe">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoPeixe" th:if="${#fields.hasErrors('peixeAnotacao')}" th:errors="*{peixeAnotacao}">Title error message</label>
									<input id="inputTextPeixeGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{peixeAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkSucoGosta">
									<input type="checkbox" id="checkSucoGosta"  class="mdl-checkbox__input" th:field="*{sucoGosta}"/>
									<span class="mdl-checkbox__label">Suco</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectSucoGosta" class="sn-selectfield__select" th:field="*{sucoFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoSuco">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoSuco" th:if="${#fields.hasErrors('sucoAnotacao')}" th:errors="*{sucoAnotacao}">Title error message</label>
									<input id="inputTextSucoGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{sucoAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkToucinhoBaconGosta">
									<input type="checkbox" id="checkToucinhoBaconGosta"  class="mdl-checkbox__input" th:field="*{toucinhoBaconGosta}"/>
									<span class="mdl-checkbox__label">Toucinho ou bacon</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectToucinhoBaconGosta" class="sn-selectfield__select" th:field="*{toucinhoBaconFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoToucinhoBacon">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoToucinhoBacon" th:if="${#fields.hasErrors('toucinhoBaconAnotacao')}" th:errors="*{toucinhoBaconAnotacao}">Title error message</label>
									<input id="inputTextToucinhoBaconGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{toucinhoBaconAnotacao}" />
								</div>
									
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkVegetaisCozidosGosta">
									<input type="checkbox" id="checkVegetaisCozidosGosta"  class="mdl-checkbox__input" th:field="*{vegetaisCozidosGosta}"/>
									<span class="mdl-checkbox__label">Vegetais cozidos</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectVegetaisCozidosGosta" class="sn-selectfield__select" th:field="*{vegetaisCozidosFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoVegetaisCozidos">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoVegetaisCozidos" th:if="${#fields.hasErrors('vegetaisCozidosAnotacao')}" th:errors="*{vegetaisCozidosAnotacao}">Title error message</label>
									<input id="inputTextVegetaisCozidosGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{vegetaisCozidosAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkVegetaisCrusGosta">
									<input type="checkbox" id="checkVegetaisCrusGosta"  class="mdl-checkbox__input" th:field="*{vegetaisCrusGosta}"/>
									<span class="mdl-checkbox__label">Vegetais crus</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectVegetaisCrusGosta" class="sn-selectfield__select" th:field="*{vegetaisCrusFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoVegetaisCrus">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoVegetaisCrus" th:if="${#fields.hasErrors('vegetaisCrusAnotacao')}" th:errors="*{vegetaisCrusAnotacao}">Title error message</label>
									<input id="inputTextVegetaisCrusGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{vegetaisCrusAnotacao}" />
								</div>
								
								<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="checkViscerasGosta">
									<input type="checkbox" id="checkViscerasGosta"  class="mdl-checkbox__input" th:field="*{viscerasGosta}"/>
									<span class="mdl-checkbox__label">Vísceras</span>
								</label>
								
								<div class="sn-selectfield mdl-cell mdl-cell--6-col">
									<label class="sn-selectfield__label" for="sn-select">Quantas vezes por semana?</label>
									<select id="selectViscerasGosta" class="sn-selectfield__select" th:field="*{viscerasFrequenciaSemanal}">
										<option value="">Escolha uma opção</option>
										<option th:each="f : ${frequenciasSemanais}" th:text="${f.descricao}" th:value="${f}">Volvo</option>
									</select>
								</div>
								<div class="sn-textfield mdl-cell mdl-cell--6-col">
									<label class="sn-textfield__label" for="anotacaoVisceras">Anotação</label>
									<label class="sn-textfield__messages sn-error-text" for="anotacaoVisceras" th:if="${#fields.hasErrors('viscerasAnotacao')}" th:errors="*{viscerasAnotacao}">Title error message</label>
									<input id="inputTextViscerasGosta" class="sn-textfield__input" maxlength="255" type="text" th:field="*{viscerasAnotacao}" />
								</div>
								
								<div class="sn-textfield mdl-cell mdl-cell--12-col">
									<label class="sn-textfield__label" for="observacoes">Observações</label>
									<label class="sn-textfield__messages sn-error-text" for="observacoes" th:if="${#fields.hasErrors('observacoes')}" th:errors="*{observacoes}">Title error message</label>
									<textarea class="sn-textfield__input" maxlength="255" type="text" rows= "3" id="observacoes" th:field="*{observacoes}"></textarea>
								</div>
							</div>
							
							
							<div class="sn-form-actions">
								<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="Cadastrar" />
								<a id="cancelar" th:href="@{${'/Paciente/'+inqueritoAlimentar.paciente.id}}" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Cancelar</a>
							</div>
						</div>
				</form>
			
			<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
				<div class="sn-card sn-padding--48">
					<div class="mdl-layout-title">Informações do Paciente</div>
										
					<div class="sn-attribute__title">Nome</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.nome}"></div>
					
					<div class="sn-attribute__title">Sexo</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.sexo}"></div>
					
					<div class="sn-attribute__title">Idade</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.getIdade()}"></div>
					
					<div class="sn-attribute__title">CPF</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.cpf}"></div>
					
					<div class="sn-attribute__title">Telefone</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.telefone}"></div>
					
					<div class="sn-attribute__title">Cargo/Ocupação</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.ocupacaoOuCargo}"></div>
					
					<div class="sn-attribute__title">Email</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.email}"></div>
							
					<div class="sn-attribute__title">Vínculo</div>
					<div class="sn-attribute__value" th:text="${inqueritoAlimentar.paciente.pessoa.vinculo}"></div>
				</div>
			</div>
		</div>
		<div id="modal-cancelar"></div>
	</section>
	<section layout:fragment="js">
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-date-picker.js}"></script>
		<script type="text/javascript" th:src="@{/js/inquerito-alimentar/cadastrar-editar.js}"></script>
	</section>
</html>
