<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="estrutura/dashboard">

<head>
	<title>Sinutri | Visualizar Inquérito Alimentar</title>
	<style type="text/css">

		.sn-fab {
			position: absolute;
			right: 26px;
			bottom: -26px;
		}

	</style>
</head>

<section layout:fragment="conteudo">
	<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--1-offset-desktop sn-card">
						
			<div class="mdl-grid mdl-grid--no-spacing">

				<div class="mdl-layout-title mdl-cell mdl-cell--12-col sn-padding--48 mdl-color--teal-500 mdl-color-text--white"> Inquérito Alimentar
					<a th:href="@{${'/Paciente/'+ inqueritoAlimentar.paciente.id +'/InqueritoAlimentar/'+inqueritoAlimentar.id+'/Editar/'}}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored sn-fab">
						<i class="material-icons mdl-color-text--white">edit</i>
					</a>
				</div>
	
				<div class="mdl-grid mdl-cell mdl-cell--12-col sn-padding--48 mdl-color--white" >
					<div class="sn-attribute mdl-cell mdl-cell--12-col">
						<a id="excluir" th:href="@{${'/Paciente/'+ inqueritoAlimentar.paciente.id +'/InqueritoAlimentar/'+inqueritoAlimentar.id+'/Excluir/'}}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent mdl-color-text--white">Remover</a>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--12-col">
						<div class="sn-attribute__title">Data de Criação</div>
						<div class="sn-attribute__value" th:text="${#dates.format(inqueritoAlimentar.criadoEm,'dd/MM/yyyy')}">10/10/1010</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Água</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.aguaFrequenciaSemanal != null} ? ${inqueritoAlimentar.aguaFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.aguaAnotacao != null} ? ${inqueritoAlimentar.aguaAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Aves</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.avesFrequenciaSemanal != null} ? ${inqueritoAlimentar.avesFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.avesAnotacao != null} ? ${inqueritoAlimentar.avesAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Bebidas alcoólicas</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.bebidasAlcoolicasFrequenciaSemanal != null} ? ${inqueritoAlimentar.bebidasAlcoolicasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.bebidasAlcoolicasAnotacao != null} ? ${inqueritoAlimentar.bebidasAlcoolicasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Bovina</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.bovinaFrequenciaSemanal != null} ? ${inqueritoAlimentar.bovinaFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.bovinaAnotacao != null} ? ${inqueritoAlimentar.bovinaAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Cereais</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.cereaisFrequenciaSemanal != null} ? ${inqueritoAlimentar.cereaisFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.cereaisAnotacao != null} ? ${inqueritoAlimentar.cereaisAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Doces</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.docesFrequenciaSemanal != null} ? ${inqueritoAlimentar.docesFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.docesAnotacao != null} ? ${inqueritoAlimentar.docesAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Frutas</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.frutasFrequenciaSemanal != null} ? ${inqueritoAlimentar.frutasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.frutasAnotacao != null} ? ${inqueritoAlimentar.frutasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Bebidas gaseificadas</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.gaseificadasFrequenciaSemanal != null} ? ${inqueritoAlimentar.gaseificadasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.gaseificadasAnotacao != null} ? ${inqueritoAlimentar.gaseificadasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Infusões</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.infusoesFrequenciaSemanal != null} ? ${inqueritoAlimentar.infusoesFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.infusoesAnotacao != null} ? ${inqueritoAlimentar.infusoesAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Leguminosas</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.leguminosasFrequenciaSemanal != null} ? ${inqueritoAlimentar.leguminosasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.leguminosasAnotacao != null} ? ${inqueritoAlimentar.leguminosasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Leite ou derivados</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.leiteDerivadosFrequenciaSemanal != null} ? ${inqueritoAlimentar.leiteDerivadosFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.leiteDerivadosAnotacao != null} ? ${inqueritoAlimentar.leiteDerivadosAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Manteiga</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.manteigaFrequenciaSemanal != null} ? ${inqueritoAlimentar.manteigaFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.manteigaAnotacao != null} ? ${inqueritoAlimentar.manteigaAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Margarina</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.margarinaFrequenciaSemanal != null} ? ${inqueritoAlimentar.margarinaFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.margarinaAnotacao != null} ? ${inqueritoAlimentar.margarinaAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Massas</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.massasFrequenciaSemanal != null} ? ${inqueritoAlimentar.massasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.massasAnotacao != null} ? ${inqueritoAlimentar.massasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Óleo</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.oleoFrequenciaSemanal != null} ? ${inqueritoAlimentar.oleoFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.oleoAnotacao != null} ? ${inqueritoAlimentar.oleoAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Ovos</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.ovosFrequenciaSemanal != null} ? ${inqueritoAlimentar.ovosFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.ovosAnotacao != null} ? ${inqueritoAlimentar.ovosAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Peixe</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.peixeFrequenciaSemanal != null} ? ${inqueritoAlimentar.peixeFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.peixeAnotacao != null} ? ${inqueritoAlimentar.peixeAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Suco</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.sucoFrequenciaSemanal != null} ? ${inqueritoAlimentar.sucoFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.sucoAnotacao != null} ? ${inqueritoAlimentar.sucoAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Toucinho ou Bacon</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.toucinhoBaconFrequenciaSemanal != null} ? ${inqueritoAlimentar.toucinhoBaconFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.toucinhoBaconAnotacao != null} ? ${inqueritoAlimentar.toucinhoBaconAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Vegetais Cozidos</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.vegetaisCozidosFrequenciaSemanal != null} ? ${inqueritoAlimentar.vegetaisCozidosFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.vegetaisCozidosAnotacao != null} ? ${inqueritoAlimentar.vegetaisCozidosAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Vegetais crus</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.vegetaisCrusFrequenciaSemanal != null} ? ${inqueritoAlimentar.vegetaisCrusFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.vegetaisCrusAnotacao != null} ? ${inqueritoAlimentar.vegetaisCrusAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Vísceras</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.viscerasFrequenciaSemanal != null} ? ${inqueritoAlimentar.viscerasFrequenciaSemanal.descricao} : 'Sem frequencia' ">Frequencia semanal</div>
					</div>
					<div class="sn-attribute mdl-cell mdl-cell--6-col">
						<div class="sn-attribute__title">Anotação</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.viscerasAnotacao != null} ? ${inqueritoAlimentar.viscerasAnotacao} : 'Sem anotação' ">Anotação</div>
					</div>
					
					<div class="sn-attribute mdl-cell mdl-cell--12-col">
						<div class="sn-attribute__title">Observações</div>
						<div class="sn-attribute__value" th:text="${inqueritoAlimentar.observacoes != null} ? ${inqueritoAlimentar.observacoes} : 'Sem observações' ">Aemon Targaryen está vivo!</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="mdl-cell mdl-cell--3-col-desktop">
			<div class="sn-card sn-padding--48">
				<div class="mdl-layout-title">Informações</div>
			</div>
		</div>

   	</div>

	<div id="modal-exclusao">
		
	</div>

</section>
<section layout:fragment="js">
	<script type="text/javascript" >
	
		$( "#excluir" ).click(function(event) {
	        var dialog = sn_base.doRegistryDialog({
	            title: "Operação irreversível", 
	            dialog: "#modal-exclusao", 
	            buttons: [
	                    {
	                       label: "Excluir",
	                       attrs: {href: $(this).attr("href")}, 
	                       action: function() {
	                           dialog.close();
	                       }
	                    }, 
	                    {
	                        label: "Cancelar",
	                        action: function() {
	                            dialog.close();
	                        }
	                    }
	            ]
	            });          
	
	        dialog.showModal();
	        event.preventDefault();
	    });
	</script>
</section>
</html>
